@font-face {
  font-family: 'clearSans';
  src: url("fonts/clearsansscreen-bk.woff2")
}



/* BODY */
body {
  margin: 0;
  font-size: 16px;
  background-color: black;
}

/*Heading styling*/

* {
  box-sizing: border-box;
}

h1{ font-family: 'Arial', sans-serif;
    /* font-weight:;  */
    font-size: 2.488rem;
    font-weight: 500;
    margin-bottom: 3rem;
    line-height: none;
    margin-top: none;
    color: none;
}

h2{ font-family: 'Arial', sans-serif;
    font-weight: 100;
    font-size: 1.44rem;
    margin-bottom: 1.2rem;
    line-height: none;
    margin-top: none;
    color: none;
}

h3{
  font-family: 'Arial', sans-serif;
  font-weight: 100;
  font-size: 0.7rem;
  margin-bottom: 0;
  line-height: none;
  margin-top: none;
  color: none;
}
/* h4{} */

p{ font-family: "clearSans", "Arial", sans-serif;
    font-weight: ;
    font-size: 0.7rem;
    margin-bottom: 0;
    line-height: none;
    margin-top: none;
  }

.section-link {
  font-family: "clearSans", "Arial", sans-serif;
  font-weight: ;
  font-size: 2rem;
  color: #0B0D3D
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

.hide{
  display: none;
}


/* MAIN */
main {
  /* make sure to cover the screen */
  min-height: 100vh;
  /* need a solid bg to hide the footer */
  background: white;
  /* put on top of footer*/
  position: relative;
  z-index: 1;
  background-color: black;
}

.index-container{
  margin: 7rem 3rem;
}

.index-header{
  font-size: 2.488rem;
  font-weight: 500;
  margin-bottom: 2.1rem;
  color: white;
}

.index-body > p {
  font-size: .9rem;
  color: white;
}

@media screen and (max-width: 768px) and (-webkit-device-pixel-ratio: 2), (max-width: 768px) and (resolution: 3dppx){
  main {

  }

  .container{

  }

  .index-container{
    margin: 4rem 3rem;
  }

.index-header {
  font-size: 1.5rem;

}

  .index-body > p {
    font-size: 0.8rem;
    color: white;
  }
}

.resume-container{
  margin: 7rem 3rem;
}

.resume-header{
  font-size: 2.488rem;
  font-weight: 500;
  margin-bottom: 2.1rem;
  color: white;
}

.resume-body > p, h3{
  font-size: 1rem;
  color: white;
}

.resume-link{
  color: white;
}

@media screen and (max-width: 768px) and (-webkit-device-pixel-ratio: 2), (max-width: 768px) and (resolution: 3dppx){
  .{
    font-size: 1.5rem;
  }

.resume-header {
  font-size: 1.5rem;

}

  .resume-body > p, h3{
    font-size: 0.8rem;
    color: white;
  }
}

.row{
  /* removes default right margin on rows */
  margin-right: 0;
}

.logotype{
  text-align: left;
}

.logotype-img{
  width: 4em;

}

/* Nav stylings */

#nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 300;
  bottom: inherit;
}

.nav-link-group{
/* makes nav flex column with even spacing */
  display: flex;
  justify-content: space-evenly;
  font-family: "clearSans", "Arial", sans-serif;
  font-weight: ;
  font-size: 1.1rem;
  text-align: end;
  background-color: black;
  border-bottom: 5px solid orchid;
}


.nav-element{
  padding: 2%;
  color: white;
  background-color: black;
}

.nav-element:hover{
  color: white;
  text-decoration: none;
}

.nav-element.active{
  background-color: orchid;
  color: #FFF;
}

/* Nav Media Queries */
@media screen and (max-width: 768px) and (-webkit-device-pixel-ratio: 2), (max-width: 768px) and (resolution: 3dppx){
  #nav {
    position: fixed;
    z-index: 300;
    width: 100%;
    top: auto;
    /* will control the position of the nav after implementing the new nav javasctipt for mobile devices that will move the inject the nav elements at the bottom of the DOM instead of the top
    position: inherit;
    */
  }
  .nav-link-group {
    display: grid;
    justify-content: inherit;
    font-size: .7rem;
    text-align: center;
    border-bottom: none;
  }
  .nav-element {
    padding: 1.5rem;
  }
}


/* TEXT */


p {
  margin: 0 auto 1em;
}


.hero-p{
  font-size: .84rem;
}

.hero-a-tag{
  color: #7d869c;

}

.index-link{
  font-size: 2rem;
  color: white;
  font-family: inherit;
}

.img-container {
  width: 100em;
  height: 100em;
}

.about-img{
    display: block;
    width: 70px;
    margin: 0 0 0 0;
    border-radius: 4px;
    padding-left: 0px;
  }

.card{
  border: 0;
}

.card-body {
  padding: 0
}

.card-footer{
  border: 0;
  background-color: #fff;
  padding: 0;
}


.btn{
  color: #fff;
  background-color: #3431D6;
  border-color: #3431D6;
  font-size: 1em;
  padding: .5em;
}

.btn:hover{
  color: #fff;
  background-color: #6562fc;
  border-color: #6562fc;
}

.btn:focus{
  color: #fff;
  background-color: #6562fc;
  border-color: #6562fc;
}

.badge {
  cursor: default;
  font-size: .5em;
  padding: .7em
}


.mono-h1 {
  font-size: calc(16px + 7vw)
}

.resource-container{
  margin: 7rem 4rem 0 4rem;
  display: grid;
  /*grid-template-columns: repeat(3, 1fr); /* Set 3 columns with equal width */
  /*grid-template-rows: repeat(2, 1fr); /* Set 2 rows with equal height */
  /*grid-gap: 20px; /* Add gap between grid items */
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  /* This is better for small screens, once min() is better supported */
  /* grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 1fr)); */
  gap: 1rem;

}

.resource-item {
  border: none;
  border-radius: .25rem;
  margin-bottom: 5rem;
  display: block;
  padding: 10% 10% 10% 10%;
  background-color: #FCFCFC;
  color: black;
}

.resource-category {
  color: white;
}

.resource-category-header{
  color: #1C3738;
}

.resource-name{
  font-size: .7rem;
  font-weight: 600;
}

.resource-text{
  font-size: 12px;
}

.resource-link:hover{
  text-decoration: none;
}

.most-frequent{

}

@media screen and (max-width: 768px) and (-webkit-device-pixel-ratio: 2), (max-width: 768px) and (resolution: 3dppx){

  .resource-container {
    margin: 5rem 4rem 0 4rem;
  }

  .resource-item {
    margin-bottom: 2rem;
  }


}


/* CLIENTS */
.clients{
  margin: 10rem 4rem 0 4rem;
}


/* FOOTER */

.footer {
  position: sticky;
  bottom: 0;
  left: 0;
  color: white;
  background: black;
  padding: 3em;
  font-size: .5em;
  text-align: center;
}

.footer-icon {
  padding: 0 1.3rem;
}

/* .icon-container{

} */

/* selects footer icons */
.fab, .far{
  color: white;
}

/* selects :hover footer icons */
.fab:hover, .far:hover{
  opacity: 40%;
  color: orchid;
  text-decoration: none;
}



.footer-p{
  cursor: default;
  padding: 0;
  margin: 0;
}


/* ~~~~ TEST CODE ~~~~ */

.module-border-wrap{
  padding: .5rem;
}
.module-border-wrap:hover,.module-border-wrap:focus{
  padding: .5rem;
  position: relative;
  /* changes cursor */
  cursor: pointer;
  background: radial-gradient(circle at 9.44% -7.92%, #00b9e2 0, #00b9f8 3.33%, #00b8ff 6.67%, #00b6ff 10%, #00b4ff 13.33%, #00b1ff 16.67%, #00adff 20%, #00a8ff 23.33%, #00a1ff 26.67%, #0099ff 30%, #0090ff 33.33%, #4c85ff 36.67%, #8f78ff 40%, #b86aff 43.33%, #d859ff 46.67%, #f146f9 50%, #ff2ee4 53.33%, #ff00cd 56.67%, #ff00b5 60%, #ff009e 63.33%, #ff0086 66.67%, #ff006f 70%, #ff0058 73.33%, #ff2041 76.67%, #ff3b28 80%, #ff4f00 83.33%, #ff5f00 86.67%, #f36d00 90%, #e37a00 93.33%, #d18500 96.67%, #be8e00 100%);
}

.module {
  background: #ffffff;
  padding: .5rem;
}
