@font-face {
  font-family: 'clearSans';
  src: url("fonts/clearsansscreen-bk.woff2")
}



/* BODY */
body {
  margin: 0;
  font-size: 16px;
  background-color: black;
  background-image: url('css-images/test.png');
  background-size: cover;
  background-repeat: no-repeat;
}

/* MAIN */
main {
  /* make sure to cover the screen */
  min-height: 100vh;
  /* put on top of footer*/
  position: relative;
  z-index: 1;
}

/* BOOTSTRAP */
.row{
  /* removes default right margin on rows */
  margin-right: 0;
}


/* TEXT */

* {
  box-sizing: border-box;
}

h1 { font-family: 'Arial', sans-serif;
    /* font-weight:;  */
    font-size: 2.488rem;
    font-weight: 500;
    margin-bottom: 3rem;
    line-height: none;
    margin-top: none;
    color: none;
}

h2 { font-family: 'Arial', sans-serif;
    font-weight: 100;
    font-size: 1.44rem;
    margin-bottom: 1.2rem;
    line-height: none;
    margin-top: none;
    color: none;
}

h3 {
  font-family: 'Arial', sans-serif;
  font-weight: 100;
  font-size: 0.7rem;
  margin-bottom: 0;
  line-height: none;
  margin-top: none;
  color: none;
}


p { font-family: "clearSans", "Arial", sans-serif;
    font-weight: ;
    font-size: 0.7rem;
    margin-bottom: 0;
    line-height: none;
    margin-top: none;
  }

.section-link {
  font-family: "clearSans", "Arial", sans-serif;
  font-weight: ;
  font-size: 2rem;
  color: #0B0D3D
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

.hide {
  display: none;
}



/* ~~~~~ PAGES ~~~~~ */

/* INDEX */

.index-container {
  margin: 7rem 5rem;
}

.index-header {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 5rem;
  color: white;
}

.index-body > p {
  font-size: 1.3rem;
  color: white;
}

.index-link {
  font-size: 2rem;
  color: white;
  font-family: inherit;
}


/*INDEX MEDIA QUERIES*/
@media screen and (max-width: 768px) and (-webkit-device-pixel-ratio: 2), (max-width: 768px) and (resolution: 3dppx){ 

  .index-container {
    margin: 4rem 3rem;
  }

.index-header {
  font-size: 1.5rem;

}

  .index-body > p {
    font-size: 0.8rem;
    color: white;
  }
}




.mono-h1 {
  font-size: calc(16px + 7vw)
}


/* RESOURCES */
.resource-container{
  margin: 7rem 4rem 0 4rem;

}

.resource-item {
  border: none;
  border-radius: .25rem;
  margin-bottom: 5rem;
  display: block;
  padding: 2rem;
  background-color: #FCFCFC;
  color: black;
}

.resource-header {
  color: white;
}

#az-resources {
  display: grid;
  /*grid-template-columns: repeat(3, 1fr); /* Set 3 columns with equal width */
  /*grid-template-rows: repeat(2, 1fr); /* Set 2 rows with equal height */
  /*grid-gap: 20px; /* Add gap between grid items */
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  /* This is better for small screens, once min() is better supported */
  /* grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 1fr)); */
  gap: 1rem;
}

.resource-name {
  font-size: 20px;
  font-weight: 600;
}

.resource-text {
  font-size: 12px;
  display: none;
}

.resource-text-muted {
  display: none;
}

.resource-link:hover {
  text-decoration: none;
}

.resource-most-frequent {
  margin-bottom: 1rem;
}

@media screen and (max-width: 768px) and (-webkit-device-pixel-ratio: 2), (max-width: 768px) and (resolution: 3dppx){

  .resource-container {
    margin: 5rem 4rem 0 4rem;
  }

  .resource-item {
    margin-bottom: 2rem;
  }

  .resource-text{
    font-size: 12px;
    display: none;
  }

}


/* RESUME */

.resume-container {
  margin: 7rem 3rem;
}

.resume-header {
  font-size: 2.488rem;
  font-weight: 500;
  margin-bottom: 2.1rem;
  color: white;
}

.resume-body > p, h3 {
  font-size: 1rem;
  color: white;
}

.resume-link {
  color: white;
}


/* RESUME MEDIA QUERIES */

@media screen and (max-width: 768px) and (-webkit-device-pixel-ratio: 2), (max-width: 768px) and (resolution: 3dppx){
.resume-header {
  font-size: 1.5rem;

}

  .resume-body > p, h3 {
    font-size: 0.8rem;
    color: white;
  }
}



/* CLIENTS */

.clients {
  margin: 10rem 4rem 0 4rem;
}

/* NAV */

#nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 300;
  bottom: inherit;
}

.nav-link-group {
/* makes nav flex column with even spacing */
  display: flex;
  justify-content: space-evenly;
  font-family: "clearSans", "Arial", sans-serif;
  font-weight: ;
  font-size: 1.1rem;
  text-align: end;
}

.nav-element {
  padding: 2%;
  color: white;
}

.nav-element:hover {
  color: white;
  text-decoration: none;
  filter: drop-shadow(0 5px 15px #44280E);
  filter: blur(25px)
}

.nav-element.active {
  background-color: white;
  color: black;
}


/* NAV MEDIA QUERIES */

@media screen and (max-width: 768px) and (-webkit-device-pixel-ratio: 2), (max-width: 768px) and (resolution: 3dppx){
  #nav {
    position: fixed;
    z-index: 300;
    width: 100%;
    top: auto;
    /* will control the position of the nav after implementing the new nav javasctipt for mobile devices that will move the inject the nav elements at the bottom of the DOM instead of the top
    position: inherit;
    */
    margin: 3rem 0
  }
  
  .nav-link-group {
    display: grid;
    justify-content: inherit;
    font-size: .9rem;
    text-align: center;
    border-bottom: none;
  }
  
  .nav-element {
    padding: 1.5rem;
    background-color: black;
  }

  .nav-mobile-wrapper {
    background-color: black;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}


/* FOOTER */

.footer {
  position: sticky;
  bottom: 0;
  left: 0;
  color: white;
  background: black;
  padding: 10em;
  font-size: .5em;
  text-align: center;
}

.footer-icon {
  padding: 0 1.3rem;
}


/* selects footer icons */
.fab, .far {
  color: white;
}

/* selects :hover footer icons */
.fab:hover, .far:hover {
  opacity: 40%;
  color: orchid;
  text-decoration: none;
}

.footer-p {
  cursor: default;
  padding: 0;
  margin: 0;
}


