@font-face {
  font-family: 'clearSans';
  src: url("fonts/clearsansscreen-bk.woff2")
}

/* DESKTOP SCREENS */

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 100%;
}

main {


}

/* INDEX DESKTOP */

.index-large-header{
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.index-large-header h2 {
  font-size: .8rem;
  font-weight: 900;
}

.index-content-section{
  margin-bottom: 20px;
  max-width: 36%;
}

.index-content-section p{
  font-size: .8rem;
}
/* GRID DESKTOP*/

.grid-title{
  text-align: center;
  margin-top: 100px;
  margin-bottom: 60px;
}

.grid-title h1 {
  font-size: 2.2rem;
  font-weight: 600;
}

#grid{
  height: auto;
}

.grid-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-container{
  display: grid;
  grid-template-columns: 540px 540px 540px;
  grid-template-rows: 360px 360px 360px;
  grid-gap: 4px;
  max-height: 40vh;
  transition:
    grid-template-columns 0.5s ease-out 300ms,
    grid-template-rows 0.5s ease-out 330ms;

}

.grid-item{
  width: 540px;
  height: 360px;
  transition:
    width 0.5s ease-out 300ms,
    height 0.5s ease-out 330ms;
}

.grid-item:hover{

}

.grid-image-container{

}

.grid-image-container:hover{

}

.grid-image{
  width: 100%;
  max-height: 280px;
  border: 1px solid;
  border-color: rgba(0,0,0,.24);
  border-radius: 2px;

}

.grid-image:hover{
  border-radius: 10px;
}

.grid-image:focus{
  border-radius: 10px;
}


/* PROJECT PAGE DESKTOP */

#project{
  height: auto;
}

.project-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.project-container{
  display: grid;
  grid-template-columns: 50vw;
  grid-template-rows: auto;
  grid-gap: 4px;
  min-height: 50vh;
  transition:
  grid-template-columns 0.5s ease-out 300ms,
  grid-template-rows 0.5s ease-out 330ms;

}

.project-hero-container{
  margin-top: 1rem;
}

.project-hero{
  width: 100%;
  height: 100%;
  border: 1px solid;
  border-color: rgba(0,0,0,.24);
  border-radius: 2px;
}

.project-text-container{
  margin-bottom: 80px;
}

.tag-section{
  margin-bottom: 0;
}

.title-section {
  text-align: start;
  margin: 0 0 2rem 0;

}

.subtitle-section h3 {
  font-weight: 600;
  font-size: 1.7rem;
  margin-bottom: 1rem;
  margin-top: 0;
  line-height: 1.4;
}

.regular-content-section p{
  font-size: 16px;
  margin-bottom: 20px;

}

.image-section{
  display: flex;
  justify-content: center;
  margin: 2rem 0;
  /* padding: 2rem 0; */
  /* background-color: #4B627D; */

}

.project-image {
  width: 60%;
  height: 60%;
  border: 1px solid;
  border-color: rgba(0,0,0,.24);
  border-radius: 2px;
}

.summary-wrapper{
  /* display: flex;
  justify-content: center; */

}

.summary-title{
  text-align: start;
  margin-top: 10rem;
  margin-bottom: 2rem;
}

.summary-title h4{
  font-size: 1.1rem;
  font-weight: 600;
}

.summary-container{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto;

}

.summary-box{
  /* padding: 1rem; */

}

.summary-box h5{
  font-family: 'Arial', sans-serif;
  font-weight: 600;
  font-size: .8rem;
  margin-top: 0;
  margin-bottom: .2rem;
  line-height: 1.4;
  padding: 0 1rem .4rem 0;

}

.summary-box p {
  color: blue;
  font-family: "Arial", sans-serif;
  font-size: 0.7rem;
  margin-bottom: 0;
  line-height: 1.4;
  margin-top: 0;
  padding: 0 1rem 0 0;
  color: black;

}

/* CTA DESKTOP */

#CTA{
  display: flex;
  justify-content: center;
  align-items: center;

}

.CTA-container{
  padding: 0 50px;

}

.CTA-header{
  font-size: .8rem;
  margin: 0;
  color: black;

}

.CTA-link {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 45%;

}

.CTA-link p{

}

.CTA-arrow p{
  font-size: 4rem;
  margin: 0;

}


/* ABOUT DESKTOP */

.about-title{
  text-align: center;
  font-size: 2rem;
}

#about{
  height: auto;
}

.about-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.about-container{
  display: grid;
  grid-template-columns: 50vw;
  grid-template-rows: auto;
  grid-gap: 4px;
  min-height: 50vh;
  transition:
  grid-template-columns 0.5s ease-out 300ms,
  grid-template-rows 0.5s ease-out 330ms;

}

.about-hero-container{
  margin-top: 50px;
  margin-bottom: 35px;
  display: grid;
  grid-template-columns: auto 80%;
  grid-template-rows: auto auto;
}

.about-hero{
  width: 100%;
  height: 90%;
  border: 1px solid;
  border-color: rgba(0,0,0,.24);
  border-radius: 2px;

}

.about-text-container{

}




/* NAV DESKTOP */

#nav {
  width: 100%;
  background-color: hsl(213, 18%, 75%);
  position: sticky;
  margin-top: 0;
  backdrop-filter: blur(5px);
  top: 0;
  border-bottom: 1px solid;
  border-bottom-color: rgba(0,0,0,.24);
  padding-bottom: 25px;
  padding-top: 35px;
  z-index: 1000;
}


.nav-container {
  display: grid;
  font-family: "clearSans", "Arial", sans-serif;
  font-size: .8rem;
  text-align: center;
  /* justify-content: flex-end; */
  grid-template-columns: auto auto;
}

.nav-portfolio-title{
  font-family: "clearSans", "Arial", sans-serif;
  font-size: .9rem;
  font-weight: 800;
  padding: 0 0 5px 0;
  color: black;
  margin: 0 20px 0 0;

}

.nav-item {
  padding: 0 0 5px 0;
  color: black;
  margin: 0 20px 0 0;
  text-decoration: none;
}

.nav-item:hover {
  text-decoration: underline;

}

.nav-item.active {
  filter: none;
  border-bottom: 2px solid white;
}


/* FOOTER */

.footer {
  position: sticky;
  bottom: 0;
  left: 0;
  color: black;
  padding: 10em;
  font-size: .5em;
  text-align: center;
}

.footer-icon {
  padding: 0 1.3rem;
}


/* selects footer icons */
.fab, .far {
  color: black;
}

/* selects :hover footer icons */
.fab:hover, .far:hover {

}

.footer-p {
  cursor: default;
  padding: 0;
  margin: 10px 0;
}


/* TEXT DESKTOP*/

h1 {
  font-family: 'Arial', sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.2;
  margin: 2rem 0 .3rem 0;
  color: Black;
}

h2 {
  font-family: 'Arial', sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.5;
  color: Black;
  margin-top: 0;
}

h3 {
  font-family: 'Arial', sans-serif;
  font-weight: 400;
  font-size: 1.7rem;
  margin-bottom: 1rem;
  margin-top: 0;
  line-height: 1.4;
}

h4 {
  font-family: 'Arial', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 1rem;
  margin-top: 0;
  line-height: 1.4;
}

h5 {
  font-family: 'Arial', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 1.4;
}

h6 {
  font-family: 'Arial', sans-serif;
  font-weight: 400;
  font-size: 1.7rem;
  margin-bottom: 1rem;
  margin-top: 0;
  line-height: 1.4;
}

p {
  font-family: "Arial", sans-serif;
  font-size: 0.7rem;
  margin-bottom: 0;
  line-height: 1.6;
  margin-top: 0;
  color: black;
  }

a:link {
  text-decoration: none;
}


/* LAPTOP SCREENS */

@media screen and (max-width: 1902px) and (min--webkit-device-pixel-ratio: 2) and (max--webkit-device-pixel-ratio: 3),
       screen and (max-width: 1902px) and (min-resolution: 2dppx) and (max-resolution: 3dppx) {



/* INDEX LAPTOP */

.index-large-header{
  margin-bottom: 1.6rem;
  margin-top: 2rem;
}

.index-large-header h1{
  font-size: 2.4rem;
}

.index-content-section{
 margin-bottom: 20px;
 max-width: 55%;
}

.index-content-section p {
  font-size: 1.05rem;
}

/* GRID LAPTOP SCREENS */

 #grid{


 }

 .grid-title h2{
   margin-top: 2rem;
   font-size: 1.5rem;
   font-weight: 600;
 }

 .grid-wrapper{
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .grid-container{
   display: grid;
   grid-template-columns: 360px 360px 360px;
   grid-template-rows: 240px 240px 240px;
   grid-gap: 4px;
   max-height: 25vh;
   transition:
    grid-template-columns 0.5s ease-in 330ms,
    grid-template-rows 0.5s ease-in 300ms;
 }

 .grid-item{
   width: 360px;
   height: 240px;
   transition:
    width 0.5s ease-in 330ms,
    height 0.5s ease-in 300ms;
 }

 .grid-image-container{

 }

 .grid-image-container:hover{

 }

 .grid-image{
   width: 100%;
   height: 100%;
   max-height: 180px;

 }
}



/* SMALL WINDOWS */

@media screen and (max-width: 735px) and (min--webkit-device-pixel-ratio: 2) and (max--webkit-device-pixel-ratio: 3),
       screen and (max-width: 735px) and (min-resolution: 2dppx) and (max-resolution: 3dppx) {


/* NAV SMALL WINDOWS */
 .nav-container {
   display: grid;
   justify-content: inherit;
   font-size: .5rem;
   font-weight: 200;
   text-align: center;
   border-bottom: none;
 }

 .nav-portfolio-title {
   font-size: .5rem;
   font-weight: 200;
 }

 .nav-element {
   padding: 1.5rem;
   margin: 0 0;
   background-color: transparent;
 }

.nav-item:hover {
   text-decoration: underline;
   filter: none;
   border-bottom: none;
 }
 .nav-item.active {
   filter: none;
   border-bottom: none;
   color: #F8D6B2;
   font-weight: 600;
 }

 .icon-container{
   font-size: 5px;
 }


 /* INDEX SMALL */

 .index-large-header {
   margin-bottom: .6rem;
   margin-top: 3rem;
 }

 .index-large-header h1{
   font-size: 1rem;
 }

 .index-content-section p{
   font-size: 14px;
   margin-bottom: 20px;
   max-width: 100%;
 }

 /* GRID SMALL WINDOWS */

  #grid{

  }

  .grid-title {
    margin-top: 0;
    margin-bottom: 20px;
  }

.grid-title h1 {
  font-size: 24px;
}

  .grid-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .grid-container{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-gap: 4px;
    max-height: 55vh;
    transition:
      grid-template-columns 0.5s ease-in 200ms,
      grid-template-rows 0.5s ease-in 180ms;
  }

  .grid-item{
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    transition:
      width 0.5s ease-in 200ms,
      height 0.5s ease-in 180ms;
  }

  .grid-item:hover{

  }

  .grid-image-container{

  }

  .grid-image-container:hover{

  }

  .grid-image{
    width: 100%;
    max-height: 100px;

  }

  .grid-image:hover{
    border-radius: 10px;
  }

  .grid-image:focus{
    border-radius: 10px;
  }

  /* ABOUT SMALL  */

  .about-hero-container{
    margin-bottom: 35px;
    display: grid;
    grid-template-columns: auto 50%;
    grid-template-rows: auto auto;
  }

  .about-hero{
    width: 100%;
    height: 100%;
    border: 1px solid;
    border-color: rgba(0,0,0,.24);
    border-radius: 2px;

  }
}



/* PHONE SCREENS */

@media screen and (max-width: 390px) and (-webkit-device-pixel-ratio: 2), (max-width: 390px) and (resolution: 3dppx){



}
