/* Variables */

:root {
  --desktop-width: calc(100vw / 3);
}



/* --- *DESKTOP* ------------------------------------------------------------------------------------------ */

/* --- DOCUMENT DESKTOP --- */

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 100%;
  background-color: black;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFF;
}

/* --- TEXT DESKTOP --- */

h1::-moz-selection, h1::selection,
h2::-moz-selection, h2::selection,
h3::-moz-selection, h3::selection,
h4::-moz-selection, h4::selection,
h5::-moz-selection, h5::selection,
h6::-moz-selection, h6::selection,
p::-moz-selection, p::selection {
  color: white;
  background-color: #0097F5;
}

h1 {
  font-family: 'Arial', sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.2;
  margin: 2rem 0 .3rem 0;
  color: Black;
}

h2 {
  font-family: 'Arial', sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.5;
  color: Black;
  margin-top: 0;
}

h3 {
  font-family: 'Arial', sans-serif;
  font-weight: 400;
  font-size: 1.7rem;
  margin-bottom: 1rem;
  margin-top: 0;
  line-height: 1.4;
}

h4 {
  font-family: 'Arial', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 1rem;
  margin-top: 0;
  line-height: 1.4;
}

h5 {
  font-family: 'Arial', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 1.4;
}

h6 {
  font-family: 'Arial', sans-serif;
  font-weight: 400;
  font-size: 1.7rem;
  margin-bottom: 1rem;
  margin-top: 0;
  line-height: 1.4;
}

p {
  font-family: "Arial", sans-serif;
  font-size: 0.7rem;
  color: black;
}

.index-large-header h2 {
  font-size: .8rem;
  font-weight: 900;
}

.index-content-section p {
  font-size: .8rem;
}

a:link {
  text-decoration: none;
}

.about-text-content-section p {
  font-size: 16px;
  margin: 0;
  line-height: 1.5;
}

.project-content-section h4 {
  font-family: 'Arial', sans-serif;
  font-weight: 600;
  font-size: .8rem;
  line-height: 1.4;
  margin: 42px 0 8px 0;
}

.project-content-section p {
  font-size: 16px;
  margin: 0;
  line-height: 1.5;
}

.project-content-section li {
  font-family: "Arial", sans-serif;
  color: black;
  font-size: 16px;
  margin: 0;
  line-height: 1.5;
}

.subtitle-section h3 {
  font-weight: 600;
  font-size: 1.7rem;
  margin-bottom: 1rem;
  margin-top: 0;
  line-height: 1.4;
}

.project-summary-container h3 {
  font-size: calc(6px + .2vw);
  margin: 0 0 1rem 0;
  font-weight: 600;
  color: #9E9E9E;
  
}

.project-summary-text h4 {
  font-size: calc(12px + .2vw);
  margin: 0;
  padding-bottom: 5px;
  /* color: #121212; */
}

.project-summary-text p {
  font-size: calc(12px + .2vw);
  /* color: #121212; */
  font-weight: 400;
}

.summary-title h4 {
  font-size: 1.1rem;
  font-weight: 600;
}

.summary-box h5 {
  font-family: 'Arial', sans-serif;
  font-weight: 600;
  font-size: .8rem;
  margin-top: 0;
  margin-bottom: .2rem;
  line-height: 1.4;
  padding: 0 1rem .4rem 0;

}

.summary-box p {
  font-family: "Arial", sans-serif;
  font-size: 0.7rem;
  margin-bottom: 0;
  line-height: 1.4;
  margin-top: 0;
  padding: 0 1rem 0 0;
  color: black;

}

.external-link p {
  color: rgb(250, 250, 250);
  margin-bottom: 0;
}

figcaption p {
  font-size: 12px;
  margin: 5px;
  display: block;
  text-align: center;
}

.external-link-section p {
  font-size: 12px;
  margin: 0;
  line-height: 1.5;
}

.nav-container p {
  padding: 0 0 5px 0;
  color: white;
  margin: 0 20px 0 0;
}

/* --- INDEX DESKTOP --- */

.index-large-header {
  margin-top: 2rem;
  margin-bottom: .3rem;
}

.index-content-section {
  margin-bottom: 20px;
  max-width: 36%;
}

/* --- INDEX ABOUT DESKTOP --- */

#about {
  height: auto;
  padding-top: 3rem;
  padding-bottom: 4rem;
  background-color: white;
}

.about-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 20vh;

}

.about-container {
  display: flex;
  align-items: flex-start;
  padding: 0 30vw 0 30vw;

}

.about-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 0 16px 0;
}

.about-title h1 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: calc(1.5rem + .3vw);
  margin: 0 0 0 0;
}

.about-text-content-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.about-text-content-section p {
  font-size: calc(.8rem + .3vw);
  line-height: 1.45;
}

/* --- GRID DESKTOP --- */

#grid {
  background-color: black;
}

.grid-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.grid-title-container {
  margin: 40px 0 0 0;
}

.grid-title {
  color: white;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: calc(1.1em + 1vw);
  font-weight: 600;
}

.grid-container {
  padding: 0 10vw 0 10vw; 
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
}


.grid-link { 
  position: relative;
  display: block; 
  border-radius: 3px;
}

.grid-link .grid-image {
  border-radius: 3px;
  opacity: 1;
  /* transition: opacity 800ms linear;
  -webkit-transition: opacity 800ms linear;
  -moz-transition: opacity 800ms linear;
  -o-transition: opacity 800ms linear; */
  display: block;
  width: 100%; 
  height: 100%; 
}

.grid-link .grid-image-hover {
  border-radius: 3px;
  opacity: 0;
  transition: opacity 200ms linear;
  -webkit-transition: opacity 200ms linear;
  -moz-transition: opacity 200ms linear;
  -o-transition: opacity 200ms linear;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%; 
}

.grid-link:hover .grid-image,
.grid-link:focus .grid-image {
  opacity: 0;
  transition: opacity 4s linear;
  -webkit-transition: opacity 4s linear;
  -moz-transition: opacity 4s linear;
  -o-transition: opacity 4s linear;
}

.grid-link:hover .grid-image-hover,
.grid-link:focus .grid-image-hover {
  opacity: 1;
}

/* --- ABOUT PAGE DESKTOP --- */

#about-page {
  height: auto;
  min-height: 75vh;
  width: 100%;
  padding-top: 5rem;
  padding-bottom: 4rem;
  /* background-color: red; */
  background-image: url('../images/new-kent-yard.JPG');
}

.about-page-wrapper { 
  /* display flex centers the grid */
  display: flex; 
  flex-direction: row;
  justify-content: center;
  /* background-color: green; */
}

.about-page-container {
  /* display grid defines the two grid layout*/
  display: grid;
  grid-template-columns: repeat(2, minmax(450px, 1fr));
  justify-items: center;
  padding: 3rem;
  background-color: white;
}

.about-page-image-container {
  /* background-color: orange; */
  aspect-ratio: 1;
  max-height: 400px;
  max-height: 400px;
  margin: 0 0 0 0;
}

.about-page-image {
  width: 100%;
  height: 100%;
  border-radius: 2px;
}

.about-page-text-container{
  background-color: rgba(255, 255, 255, 0.892);
  height: auto;
  min-width: 200px;
  max-width: 400px;
 
}

.about-page-title h1 {
  margin: 0;
}

.about-page-text-container p {
  font-size: 12px;
  /* margin: 0; */
  line-height: 1.5;
}


/* --- PROJECT DESKTOP --- */

#project {
  height: auto;
}

.project-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;

}

.project-container {
  display: grid;
  grid-template-columns: 50vw;
  grid-template-rows: auto;
  grid-gap: 4px;
  min-height: 50vh;
  justify-items: center;
  transition:
    grid-template-columns 0.5s ease-out 300ms,
    grid-template-rows 0.5s ease-out 330ms,
    -ms-grid-columns 0.5s ease-out 300ms,
    -ms-grid-rows 0.5s ease-out 330ms;
}

.project-hero-container {
  margin-top: 1rem;
}

.project-hero {
  width: 100%;
  height: 100%;
  border-radius: 2px;
}

.project-text-container {
  margin-bottom: 80px;
  min-height: 35vh;
}

.project-summary-container {
  padding: 1.5rem; 
  margin: 2rem 0 3rem 0; 
  background-color: #FFF;
  border-radius: 4px;
  border: 1.5px solid  rgba(0,0,0,.1);
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,.06);
}

.project-summary-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  gap: .5rem;

}

.design-process-container {
  width: 100%;
}

.design-process-image {
  width: 100%;
  height: 100%;
}

.tag-section {
  margin-bottom: 0;
}

.title-section {
  text-align: start;
  margin: 0 0 2rem 0;

}

.image-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem 0;
  gap: 20px;

}

.project-image {
  width: 100%;
  height: 100%;
  border-radius: 2px 2px 0 0;
}

figure {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

figcaption {
  display: block;
  background-color: rgba(0, 0, 0, 0.04);
  width: 100%;
  margin: 0;
  padding: 0;
}

.summary-title {
  text-align: start;
  margin-top: 10rem;
  margin-bottom: 2rem;
}

.external-link-section {
  margin: 40px 0 0 0;
  padding: 6px 25px ;
  background-color: #0097F5;
  border-radius: 3px;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  transition: scale 150ms linear;
}

.external-link {
  text-decoration: none;
  width: 100%;
}



.external-link-section:hover {
  background-color: #0087f5;
  transition: scale 150ms linear;
}

.external-link-section:focus {
  background-color: #0087f5;
  transition: scale 150ms linear;
}

/* --- CTA DESKTOP --- */

#CTA {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-bottom: 1.6rem;

}

.CTA-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.CTA-link-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}


.CTA-header {
  font-weight: 900;
  font-size: 12px;
  margin: 0;
  color: black;
}

.CTA-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: .2rem;
  color: #0097F5
}

.CTA-link:focus * {
  text-decoration: underline;
}

.CTA-link:hover * {
  text-decoration: underline;
}

.CTA-link p {
  color: #0097F5;
}

.CTA-arrow p {
  font-size: 40px;
  margin: 0;
  color: #2c3037;

}


/* --- NAV DESKTOP --- */

#nav {
  width: 100%;
  background-color: hsl(0, 0%, 0%);
  position: -webkit-sticky;
  position: sticky;
  margin-top: 0;
  top: 0;
  border-bottom: 1px solid;
  border-bottom-color: rgb(0, 0, 0);
  padding-bottom: 12px;
  padding-top: 9px;
  z-index: 1000;
}


.nav-container {
  display: grid;
  font-family: "clearSans", "Arial", sans-serif;
  grid-template-columns: 1fr 1fr;
  padding: .5rem 0 .5rem 5rem;
}

.nav-link {
  font-family: "clearSans", "Arial", sans-serif;
  font-size: .6rem;
  font-weight: 200;
  color: white;

}

.nav-link-container {
  display: flex;
  
}

.nav-item {
  padding: 0 0 5px 0;
  color: white;
  margin: 0 20px 0 0;
  text-decoration: none;
}

.nav-item:hover {
  text-decoration: underline;

}

.nav-item.active {
  -webkit-filter: none;
          filter: none;
  border-bottom: 2px solid white;
}


/* --- FOOTER DESKTOP --- */

#footer {
  background-color: black;
}

.footer {
  display: flex;
  justify-content: center;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  left: 0;
  padding: 10em;
  font-size: .5em;
  text-align: center;
}

.footer-icon {
  padding: 0 .5rem;

}

.fab,
.far {
  color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.fab:hover,
.far:hover {
  color: #0097F5;

}

.fab:focus,
.far:focus {
  color: #0097F5;

}

.footer-link {
  margin: 0;
  padding: .2rem;
  color: #0097F5
}

.footer-link:focus * {
  text-decoration: underline;
}

.footer-link:hover * {
  text-decoration: underline;
}

.footer-h6 {
  font-family: 'Arial', sans-serif;
  font-weight: 600;
  font-size: .7rem;
  margin: 0;
  line-height: 1.4;
  padding: 0;
  color: white;
}


.footer-p {
  cursor: default;
  padding: 0;
  margin: 0;
  color: white;
}


/* --- *LAPTOP* ------------------------------------------------------------------------------------------ */

@media screen and (max-width: 1902px) and (min--webkit-device-pixel-ratio: 2) and (max--webkit-device-pixel-ratio: 3),
screen and (max-width: 1902px) and (-webkit-min-device-pixel-ratio: 2) and (-webkit-max-device-pixel-ratio: 3),
screen and (max-width: 1902px) and (min-resolution: 2dppx) and (max-resolution: 3dppx) {



  /* --- INDEX LAPTOP --- */

  .index-large-header {
    margin-top: 2rem;
    margin-bottom: .1rem;

  }

  .index-large-header h1 {
    font-size: 2.4rem;
  }

  .index-content-section {
    margin-bottom: 20px;
    max-width: 55%;
  }

  .index-content-section p {
    font-size: .8rem;
  }

  /* --- GRID LAPTOP --- */

  .grid-title h2 {
    margin-top: 2rem;
    font-size: 1.5rem;
    font-weight: 600;
  }

  .grid-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .grid-image {
    width: 100%;
    height: 100%;
  }

  /* --- ABOUT INDEX LAPTOP --- */

  #about {
    padding-bottom: 3rem;
  }

  .about-wrapper {
    padding-bottom: 0;
  }


  .about-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: start;
  }

  .about-title h1 {
    font-size: calc(1.2em + .2vw);
    margin: 0 0 0 0;
  }

  .about-text-container {
    padding-left: 0;
    padding-right: 0;
    max-width: 100%;
    padding: 0;
    margin-top: 0;
  }

  .about-text-content-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
  }

  .about-text-content-section p {
    font-size: calc(.8rem + .2vw);
    line-height: 1.45;
  }


  /* --- PROJECT LAPTOP --- */

  #project {

    /* width: clamp(calc(100vw / 3.5), calc(100vw / 3), calc(100vw / 3)); */
    /* width: var(--desktop-width); */
  }

  .subtitle-section h3 {
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    margin-top: 0;
    line-height: 1.4;
  }

}


/* --- *SMALL* ------------------------------------------------------------------------------------------ */

@media screen and (max-width: 735px) and (min--webkit-device-pixel-ratio: 2) and (max--webkit-device-pixel-ratio: 3),
screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 2) and (-webkit-max-device-pixel-ratio: 3),
screen and (max-width: 735px) and (min-resolution: 2dppx) and (max-resolution: 3dppx) {


  /* --- NAV SMALL --- */

  .nav-container {
    display: grid;
    justify-content: inherit;
    font-size: .5rem;
    font-weight: 200;
    text-align: center;
    border-bottom: none;
  }

  .nav-item {
    font-size: .5rem;
    font-weight: 200;
  }

  .nav-element {
    padding: 1.5rem;
    margin: 0 0;
    background-color: transparent;
  }

  .nav-item:hover {
    text-decoration: underline;
    -webkit-filter: none;
            filter: none;
    border-bottom: none;
  }

  .nav-item.active {
    -webkit-filter: none;
            filter: none;
    border-bottom: none;
    color: #F8D6B2;
    font-weight: 600;
  }

  .icon-container {
    font-size: 5px;
  }


  /* --- INDEX SMALL --- */

  .index-large-header {
    margin-bottom: .6rem;
    margin-top: 3rem;
  }

  .index-large-header h1 {
    font-size: 1rem;
  }

  .index-content-section p {
    font-size: 14px;
    margin-bottom: 20px;
    max-width: 100%;
  }

  /* --- ABOUT SMALL --- */

  #about {
    padding-top: 1rem;
    padding-bottom: 2rem;
  }

  .about-wrapper {
    padding-bottom: 0;
  }

  .about-container {
    padding: 0 10vw 0 10vw;
  }

  .about-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: start;
  }

  .about-title h1 {
    font-size: calc(1.5em + .2vw);
    margin: 0 0 0 0;
  }

  .about-text-container {
    padding-left: 0;
    padding-right: 0;
    max-width: 100%;
    padding: 0;
    margin-top: 0;
  }

  .about-text-content-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
  }

  .about-text-content-section p {
    font-size: calc(.6rem + .2vw);
    line-height: 1.45;
  }

  /* --- GRID SMALL --- */

  .grid-title {
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: calc(1.1em + 1vw);
    font-weight: 600;
  }

  .grid-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .grid-container {
    padding: 0 10vw 0 10vw; 
    gap: 5px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .grid-image {
    width: 100%;
  }

  /* --- ABOUT PAGE SMALL --- */

.about-page-container {
  /* display grid defines the two column grid layout, but switches to one column if viewport shrinks*/
  display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-items: flex-start;
    padding: 1rem;
    background-color: white;
    grid-gap: 20px;
}



  /* --- PROJECT SMALL --- */
  .subtitle-section h3 {
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 1rem;
    margin-top: 0;
    line-height: 1.4;
  }

}


/* --- *PHONE* ------------------------------------------------------------------------------------------ */

@media screen and (max-width: 390px) and (-webkit-device-pixel-ratio: 2),
(max-width: 390px) and (resolution: 3dppx) {

  /* --- TEXT PHONE --- */

  .project-content-section p {
    font-size: 16px;
    margin-bottom: 20px;
  }

  /* --- GRID PHONE --- */

  .grid-wrapper {
    padding: 0 0;

  }

  .grid-container {
    padding: 0 10vw 0 10vw; 
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  }

  .grid-title-container {
    margin: 0 0 0 0;

  }

  .grid-title {
    color: white;
    margin-top: 2.5rem;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 600;
  }

  .grid-image {
    max-height: 180px;
  }


  /* --- ABOUT PHONE ---*/

  #about {
    padding: 40px;
  }

  .about-container {
    padding: 0;
  }

  .about-title h1 {
    font-size: calc(1.7em + .2vw);
    margin: 0 0 0 0;
  }

  .about-text-content-section p {
    font-size: calc(.9rem + .2vw);
    line-height: 1.45;
  }


  /* --- INDEX PHONE --- */

  .index-large-header {
    margin-bottom: 0;
    align-self: start;
  }

  .index-large-header h2 {
    font-size: 16px;
  }

  .index-content-section {
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin-bottom: 1px;
  }

  .index-content-section p {
    font-size: 12px;
  }

    /* --- ABOUT PAGE SMALL --- */

.about-page-container {
  /* display grid defines the two column grid layout, but switches to one column if viewport shrinks*/
  display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-items: flex-start;
    padding: 1rem;
    background-color: white;
    grid-gap: 20px;
}


  /* --- PROJECT PHONE --- */

  .project-wrapper {
    background-color: inherit;
  }

  .project-container {
    display: flex;
    flex-direction: column;
    grid-gap: 0;
  }

  .project-hero-container {
    /* position: fixed;
    z-index: -1; */
    margin-top: 0;
    background-color: white;
  }

  .monotype-hero-container {
    margin-top: 0;
  }

  .project-hero {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0;

  }

  .project-text-container {
    margin-bottom: 0;
    padding: 2px 25px 80px 25px;
    background-color: white;
    z-index: 200;
    width: fit-content;
  }

  .tag-section h1 {
    font-size: 34px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;

  }

  .title-section h2 {
    font-size: 14px;

  }

  /* .subtitle-section {
    margin-top: 60px;
  } */


  .subtitle-section h3 {
    font-weight: 600;
    font-size: 19px;
    margin-bottom: 1rem;
    margin-top: 0;
    line-height: 1.4;
  }

  .image-section {
    display: flex;
    justify-content: center;
    margin: 2rem 0;

  }

  .summary-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;

  }

  .summary-title {
    text-align: start;
    margin-top: 10rem;
    margin-bottom: 2rem;
  }

  .summary-title h4 {
    font-size: 1.1rem;
    font-weight: 600;
  }

  .summary-box h5 {
    font-family: 'Arial', sans-serif;
    font-weight: 600;
    font-size: .8rem;
    margin-top: 0;
    margin-bottom: .2rem;
    line-height: 1.4;
    padding: 0 1rem .4rem 0;

  }

  .summary-box p {
    font-family: "Arial", sans-serif;
    font-size: 0.7rem;
    margin-bottom: 0;
    line-height: 1.4;
    margin-top: 0;
    padding: 0 1rem 0 0;
    color: black;

  }

  /* --- CTA PHONE --- */

  #CTA {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: auto;
  }

  .CTA-container {
    padding: 0 0 0 0;

  }

  .CTA-header {
    font-size: .8rem;
    margin: 0;
    color: black;

  }

  .CTA-link {
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .CTA-arrow p {
    font-size: 4rem;
    margin: 0;

  }


  /* --- NAV PHONE --- */

  #nav {
    width: 100%;
    background-color: hsl(0, 0%, 0%);
    position: -webkit-sticky;
    position: sticky;
    margin-top: 0;
    top: 0;
    padding-top: 12px;
    padding-bottom: 12px;
  }


  .nav-container {
    display: flex;
    font-family: "clearSans", "Arial", sans-serif;
    font-size: 10px;
    justify-content: center;
    align-items: center;
  }

  .nav-link-container {
    padding-left: 0;

  }

  .nav-item {
    font-family: "clearSans", "Arial", sans-serif;
    font-size: 10px;
    font-weight: 200;
    padding: 0;
    color: white;
    margin: 0 0 0 0;
  }

  .nav-item:hover {
    text-decoration: underline;

  }

  .nav-item.active {
    -webkit-filter: none;
            filter: none;
    border-bottom: 2px solid white;
  }



  /* --- FOOTER PHONE --- */

  #footer {
    background-color: black;
    display: block;
  }

  .footer {
    position: -webkit-sticky;
    position: sticky;
    color: black;
    padding: 2em;
    font-size: .5em;
    text-align: center;
  }

  .footer-p {
    font-size: 10px;
  }
}


/* Color Palette */
/*

Dessert Tan                 #4B627D
Blueberry Blue              #0097F5
Icy Grey                   #2c3037
Cloudy Sky Grey             #b4becb hsl(213, 18%, 75%)
Chalkboard Black            #F8D6B2
Very Transparent Black      rgba(0,0,0,.24)
True Black                  #00000
True White                  #FFFFFF
True Blue                   HEX CODE                        */

/* CSS Color Names Supported by Browsers
https://www.w3schools.com/colors/colors_hex.asp */



.design-process-container {
  display: grid;
  grid-template-columns: repeat(5, minmax(150px, 1fr));
  gap: 0;
  /* padding: 0 10vw 0 10vw; */

}

.design-process-title-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 0 0;

}

.design-process-title-text-container h1 {
  font-size: 3rem;
}

.fof-wrapper {
  height: 30vh;

}

.fof-about-title h1 {
  color: #0097F5;
  font-size: calc(.5rem + 2.5vw);
}

.fof-grid-title {
  font-size: calc(.2rem + 1vw);
  margin-bottom: 0;
  
}

.fof-grid-container {
  filter: grayscale(100%);
  padding: 0 10vw 0 10vw;
  gap: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}