@font-face {
  font-family: 'clearSans';
  src: url("fonts/clearsansscreen-bk.woff2")
}

/* --- DOCUMENT DESKTOP --- */

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 100%;
  background-color: black;
}

main {

}

/* --- TEXT DESKTOP --- */

h1 {
  font-family: 'Arial', sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.2;
  margin: 2rem 0 .3rem 0;
  color: Black;
}

h2 {
  font-family: 'Arial', sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.5;
  color: Black;
  margin-top: 0;
}

h3 {
  font-family: 'Arial', sans-serif;
  font-weight: 400;
  font-size: 1.7rem;
  margin-bottom: 1rem;
  margin-top: 0;
  line-height: 1.4;
}

h4 {
  font-family: 'Arial', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 1rem;
  margin-top: 0;
  line-height: 1.4;
}

h5 {
  font-family: 'Arial', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 1.4;
}

h6 {
  font-family: 'Arial', sans-serif;
  font-weight: 400;
  font-size: 1.7rem;
  margin-bottom: 1rem;
  margin-top: 0;
  line-height: 1.4;
}

p {
  font-family: "Arial", sans-serif;
  font-size: 0.7rem;
  /*! margin-bottom: 0; */
  /*! line-height: 1.6; */
  /*! margin-top: 0; */
  color: black;
  }

a:link {
  text-decoration: none;
}

.regular-content-section p{
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 1.5;
}

/* --- INDEX DESKTOP --- */

.index-large-header{
  margin-top: 2rem;
  margin-bottom: .3rem;
}

.index-large-header h2{
  font-size: .8rem;
  font-weight: 900;
}

.index-content-section{
  margin-bottom: 20px;
  max-width: 36%;
}

.index-content-section p{
  font-size: .8rem;
}


/* --- GRID DESKTOP --- */

.grid-title{
  color: white;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 25px;
  font-size: calc(1.1em + 1vw);
  font-weight: 600;
}

#grid{
  /*! height: auto; */
  background-color: black;
}

.grid-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

  .grid-link {

  }

.grid-item{
  /*! width: 540px; */
  /*! height: 360px; */
  /*! transition:
    width 0.5s ease-out 300ms,
    height 0.5s ease-out 330ms; */
}

.grid-item:hover{

}

.grid-image-container{

}

.grid-image-container:hover{

}

.grid-image{
  width: 100%;
  /*! max-height: 280px; */
  /*! border: 1px solid; */
  /*! border-color: rgba(0,0,0,.24); */


}

.grid-image:hover{

}

.grid-image:focus{

}


/* --- PROJECT DESKTOP --- */

#project{
  height: auto;
}

.project-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;

}

.project-container{
  display: grid;
  grid-template-columns: 50vw;
  grid-template-rows: auto;
  grid-gap: 4px;
  min-height: 50vh;
  justify-items: center;
  transition:
    grid-template-columns 0.5s ease-out 300ms,
    grid-template-rows 0.5s ease-out 330ms;

}

.project-hero-container{
  margin-top: 1rem;
}

.project-hero{
  width: 100%;
  height: 100%;
  border-radius: 2px;
}

.project-text-container{
  margin-bottom: 80px;
  min-height: 35vh;
}

.tag-section{
  margin-bottom: 0;
}

.title-section {
  text-align: start;
  margin: 0 0 2rem 0;

}

.subtitle-section h3 {
  font-weight: 600;
  font-size: 1.7rem;
  margin-bottom: 1rem;
  margin-top: 0;
  line-height: 1.4;
}

.project-content-section p {

}

.image-section{
  display: flex;
  justify-content: center;
  margin: 2rem 0;
  /* padding: 2rem 0; */
  /* background-color: #4B627D; */

}

.project-image {
  width: 60%;
  height: 60%;
  /* border: 1px solid;
  border-color: rgba(0,0,0,.24); */
  border-radius: 2px;
}

.summary-wrapper{
  /* display: flex;
  justify-content: center; */

}

.summary-title{
  text-align: start;
  margin-top: 10rem;
  margin-bottom: 2rem;
}

.summary-title h4{
  font-size: 1.1rem;
  font-weight: 600;
}

.summary-container{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto;

}

.summary-box{
  /* padding: 1rem; */

}

.summary-box h5{
  font-family: 'Arial', sans-serif;
  font-weight: 600;
  font-size: .8rem;
  margin-top: 0;
  margin-bottom: .2rem;
  line-height: 1.4;
  padding: 0 1rem .4rem 0;

}

.summary-box p {
  color: blue;
  font-family: "Arial", sans-serif;
  font-size: 0.7rem;
  margin-bottom: 0;
  line-height: 1.4;
  margin-top: 0;
  padding: 0 1rem 0 0;
  color: black;

}

.case-study-link{
  text-decoration: none;
  color: #0097F5;
  border-bottom: solid 3px;
  /* border-radius:2px; */
  width: fit-content;
  transition: 100ms ease-out 10ms;
}

.case-study-link:hover{
  border-bottom: solid 6px;
  transition: 100ms ease-in 5ms;
}

.case-study-link:focus{
  border-bottom: solid 6px;
  transition: 100ms ease-in 5ms;
}

.case-study-link p{
  margin-bottom: 0;
}

/* --- CTA DESKTOP --- */

#CTA{
  width: fit-content;
  padding-bottom: 1.6rem;
}

#CTA:hover * {
    color: #0097F5;
  }

.CTA-link:focus * {
    color: #0097F5;
  }


.CTA-container{

}

.CTA-header{
  font-weight: 900;
  font-size: 12px;
  margin: 0;
  color: black;

}

.CTA-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: .2rem;

}

.CTA-link p{

}

.CTA-arrow p{
  font-size: 40px;
  margin: 0;
  color: #2c3037;

}


/* --- ABOUT DESKTOP --- */

#about{
  height: auto;
  padding-bottom: 4rem;
  background-color: white;
}

.about-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;

}

.about-container{
  display: grid;
  grid-template-columns: 50vw 50vw;
  grid-template-rows: auto;
  /*! grid-gap: 0; */
  min-height: 40vh;
  transition:
    grid-template-columns 0.5s ease-out 300ms,
    grid-template-rows 0.5s ease-out 330ms;
  margin-top: 2.8rem;
}

.about-hero-container{
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-right: .8rem;
  margin-top: 5rem;


}

.about-hero{
  max-height: 225px;
  max-width: 225px;
  border: 1px solid;
  border-color: rgba(0,0,0,.24);
  border-radius: 2px;
}

.about-text-content-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-title-container{

}

.about-title {
  text-align: start;
  /*! margin-bottom: 10px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-title h1 {
  width: fit-content;
  font-size: calc(2em + 2vw);
  margin: 0 0 0 3.5rem;

  /*! min-height: 0vw; */
}

.about-text-container{
    /*! padding-left: 5.8rem; */
    /*! padding-right: 1.5rem; */
    /*! max-width: 90%; */
}


.about-text-container p {
  font-size: calc(18px + .3vw);
  line-height: 1.45;
  max-width: 51%;
}

.about-text h2 {
}


/* --- NAV DESKTOP --- */

#nav {
  width: 100%;
  background-color: hsl(0, 0%, 0%);
  position: sticky;
  margin-top: 0;
  top: 0;
  border-bottom: 1px solid;
  border-bottom-color: rgb(0, 0, 0);
  padding-bottom: 12px;
  padding-top: 9px;
  z-index: 1000;
}


.nav-container {
  display: grid;
  font-family: "clearSans", "Arial", sans-serif;
  /*! font-size: .2rem; */
  /*! text-align: center; */
  justify-content: center;
  grid-template-columns: auto;
  align-items: center;
}

.nav-portfolio-title-container {
  /*! justify-self: start; */
  /*! padding-left: 2.5rem; */

}

.nav-portfolio-title{
  font-family: "clearSans", "Arial", sans-serif;
  font-size: .6rem;
  font-weight: 200;
  /*! padding: 0 0 5px 0; */
  color: white;
  /*! margin: 0 20px 0 0; */

}

.nav-link-container{
  justify-self: end;
  padding-right: 2.5rem;
}

.nav-item {
  padding: 0 0 5px 0;
  color: black;
  margin: 0 20px 0 0;
  text-decoration: none;
}

.nav-item:hover {
  text-decoration: underline;

}

.nav-item.active {
  filter: none;
  border-bottom: 2px solid white;
}


/* --- FOOTER DESKTOP --- */

#footer{
  background-color: black;
}

.footer {
  position: sticky;
  bottom: 0;
  left: 0;
  /*! color: black; */
  padding: 10em;
  font-size: .5em;
  text-align: center;
}

.footer-icon {
  padding: .1rem;
  margin: 0 1.3rem;

}

.fab, .far {
  color: white;
  width: fit-content;
}

.fab:hover, .far:hover {
  color: #0097F5;

}

.fab:focus, .far:focus {
  color: #0097F5;

}

.footer-p {
  cursor: default;
  padding: 0;
  margin: 10px 0;
  color: white;
}


/* --- LAPTOP --- */

@media screen and (max-width: 1902px) and (min--webkit-device-pixel-ratio: 2) and (max--webkit-device-pixel-ratio: 3),
       screen and (max-width: 1902px) and (min-resolution: 2dppx) and (max-resolution: 3dppx) {



/* --- INDEX LAPTOP --- */

.index-large-header{
  margin-top: 2rem;
  margin-bottom: .1rem;

}

.index-large-header h1{
  font-size: 2.4rem;
}

.index-content-section{
 margin-bottom: 20px;
 max-width: 55%;
}

.index-content-section p {
  font-size: .8rem;
}

/* --- GRID LAPTOP --- */

 #grid{


 }

 .grid-title h2{
   margin-top: 2rem;
   font-size: 1.5rem;
   font-weight: 600;
 }

 .grid-wrapper{
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .grid-container{
   display: flex;
   /*! grid-template-columns: 360px 360px 360px; */
   /*! grid-template-rows: auto; */
   /*! grid-gap: 4px; */
   /*! max-height: fit-content; */
   /*! transition:
    grid-template-columns 0.5s ease-in 330ms,
    grid-template-rows 0.5s ease-in 300ms; */
   flex-direction: column;
   width: 100%;
   height: 100%;
 }

 .grid-item{

 }

 .grid-image-container{

 }

   .grid-image-container:hover{

   }

 .grid-image{
   width: 100%;
   height: 100%;
 }

/* --- ABOUT LAPTOP --- */

  .about-hero-container{
    padding-right: .8rem;
    margin-top: 5rem;
  }

  .about-hero{
    max-height: 225px;
    max-width: 225px;
  }

  .about-text-container{
    padding-left: 5.8rem;
    padding-right: 1.5rem;
    max-width: 90%;
  }

  .about-text-content-section {

  }

  .about-title {
    text-align: start;
    margin-bottom: 10px;
  }

  .about-title h1 {

  }

  .about-text-container p {
    font-size: calc(.15em + 1vw);
    line-height: 1.45;
  }


  /* --- PROJECT LAPTOP --- */

  .subtitle-section h3 {
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    margin-top: 0;
    line-height: 1.4;
  }

  .project-content-section p {

  }

}



/* --- SMALL --- */

@media screen and (max-width: 735px) and (min--webkit-device-pixel-ratio: 2) and (max--webkit-device-pixel-ratio: 3),
       screen and (max-width: 735px) and (min-resolution: 2dppx) and (max-resolution: 3dppx) {


/* --- NAV SMALL --- */
 .nav-container {
   display: grid;
   justify-content: inherit;
   font-size: .5rem;
   font-weight: 200;
   text-align: center;
   border-bottom: none;
 }

 .nav-portfolio-title {
   font-size: .5rem;
   font-weight: 200;
 }

 .nav-element {
   padding: 1.5rem;
   margin: 0 0;
   background-color: transparent;
 }

.nav-item:hover {
   text-decoration: underline;
   filter: none;
   border-bottom: none;
 }
 .nav-item.active {
   filter: none;
   border-bottom: none;
   color: #F8D6B2;
   font-weight: 600;
 }

 .icon-container{
   font-size: 5px;
 }


 /* --- INDEX SMALL --- */

 .index-large-header {
   margin-bottom: .6rem;
   margin-top: 3rem;
 }

 .index-large-header h1{
   font-size: 1rem;
 }

 .index-content-section p{
   font-size: 14px;
   margin-bottom: 20px;
   max-width: 100%;
 }

 /* --- GRID SMALL --- */

  #grid{

  }

  .grid-title {
    margin-top: 0;
    margin-bottom: 20px;
  }

.grid-title{
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: calc(1.1em + 1vw);
  font-weight: 600;
}

  .grid-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .grid-container{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    max-height: fit-content;
    transition:
      grid-template-columns 0.5s ease-in 200ms,
      grid-template-rows 0.5s ease-in 180ms;
  }

  .grid-item{

  }

  .grid-item:hover{

  }

  .grid-image-container{

  }

  .grid-image-container:hover{

  }

  .grid-image{
    width: 100%;

  }

  .grid-image:hover{

  }

  .grid-image:focus{

  }

  /* --- ABOUT SMALL --- */

  .about-container{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-gap: 0;
    min-height: 0;
    transition:
      grid-template-columns 0.5s ease-out 300ms,
      grid-template-rows 0.5s ease-out 330ms;
    padding-left: 1rem;
  }

  .about-hero-container{
    padding-right: 0;
    margin-top: 5rem;
    align-items: start;
    padding: 0 2rem;
  }

  .about-hero{
    max-height: 100px;
    max-width: 100px;
  }

  .about-text-container{
    padding-left: 0;
    padding-right: 0;
    max-width: 100%;
    padding: 0;
    margin-top: 1rem;
  }

  .about-title {
    text-align: start;
    margin-bottom: 0;
  }

  .about-title h1 {
    font-size: calc(1.8em + 1vw);
    margin: 0 0 0 0;
  }

  .about-text-container p {
    font-size: .55rem;
    line-height: .83rem;

    margin-bottom: 0;
    max-width: 100%;
    width: fit-content;
  }

  /* --- PROJECT SMALL --- */

  .subtitle-section h3 {
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 1rem;
    margin-top: 0;
    line-height: 1.4;
  }

  .project-content-section p {
    font-size: calc(10px + .1vw);
  }

}




/* --- PHONE --- */

@media screen and (max-width: 390px) and (-webkit-device-pixel-ratio: 2), (max-width: 390px) and (resolution: 3dppx){

  /* --- TEXT PHONE --- */

  .regular-content-section p{
    font-size: 16px;
    margin-bottom: 20px;
  }

  /* --- GRID PHONE --- */

  .grid-wrapper{
    padding: 0 40px;

  }
  .grid-container{
    display: block;
    max-height: fit-content;
  }

  .grid-title {
    color: white;
    margin-top: 35px;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 600;

  }

  .grid-item{

  }

  .grid-link {

  }

  .grid-image {
    max-height: 180px;
  }


  /* --- INDEX PHONE --- */

  .index-large-header{
    margin-bottom: 0;
    align-self: start;
  }

  .index-large-header h2{
    font-size: 16px;
  }

  .index-content-section{
    max-width: fit-content;
    margin-bottom: 1px;
  }

  .index-content-section p {
    font-size: 12px;
  }


  /* --- PROJECT PHONE --- */

  #project{

  }

  .project-wrapper{
    background-color: inherit;
  }

  .project-container{
    display: block;

  }

  .project-hero-container{
    position: fixed;
    z-index: -1;
    margin-top: 0;
  }

  .monotype-hero-container{
    margin-top: 2.5rem;
  }

  .project-hero{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0;

  }

  .project-text-container{
    margin-top: 230px;
    margin-bottom: 0;
    padding: 2px 25px 80px 25px;
    background-color: white;
    z-index: 200;
  }

  .ed-tech-project-text-container{
    margin-top: 150px;
  }

  .tag-section h1 {
    font-size: 34px;
    width: fit-content;

  }

  .title-section h2{
    font-size: 14px;

  }

  .subtitle-secton{
    margin-top: 60px;
  }


  .subtitle-section h3 {
    font-weight: 600;
    font-size: 19px;
    margin-bottom: 1rem;
    margin-top: 0;
    line-height: 1.4;
  }

  .project-content-section p {

  }

  .image-section{
    display: flex;
    justify-content: center;
    margin: 2rem 0;
    /* padding: 2rem 0; */
    /* background-color: #4B627D; */

  }

  .project-image {
    width: 60%;
    height: 60%;
    border: 1px solid;
    border-color: rgba(0,0,0,.24);
    border-radius: 2px;
  }

  .summary-wrapper{
    /* display: flex;
    justify-content: center; */

  }

  .summary-title{
    text-align: start;
    margin-top: 10rem;
    margin-bottom: 2rem;
  }

  .summary-title h4{
    font-size: 1.1rem;
    font-weight: 600;
  }

  .summary-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;

  }

  .summary-box{
    /* padding: 1rem; */

  }

  .summary-box h5{
    font-family: 'Arial', sans-serif;
    font-weight: 600;
    font-size: .8rem;
    margin-top: 0;
    margin-bottom: .2rem;
    line-height: 1.4;
    padding: 0 1rem .4rem 0;

  }

  .summary-box p {
    font-family: "Arial", sans-serif;
    font-size: 0.7rem;
    margin-bottom: 0;
    line-height: 1.4;
    margin-top: 0;
    padding: 0 1rem 0 0;
    color: black;

  }

  /* --- CTA PHONE --- */

  #CTA{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: auto;
  }

  .CTA-container{
    padding: 0 50px 0 0;

  }

  .CTA-header{
    font-size: .8rem;
    margin: 0;
    color: black;

  }

  .CTA-link {
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .CTA-link p{

  }

  .CTA-arrow p{
    font-size: 4rem;
    margin: 0;

  }



  /* --- ABOUT PHONE --- */
  .about-container{
    display: grid;
    grid-template-columns: 50vw;
    grid-template-rows: auto;
    grid-gap: 0;
    min-height: fit-content;
    transition:
      grid-template-columns 0.5s ease-out 300ms,
      grid-template-rows 0.5s ease-out 330ms;
  }

  .about-wrapper{
    padding: 0 1.8rem;
  }

  .about-container{
    display: block;
    margin-top: 1.2rem;
  }

  .about-hero-container{
    display: none;
  }

  .about-text-container {
    padding: 0;
  }

  .about-title-container{
    /*! padding-left: .8rem; */
    /*! padding-right: 1.5rem; */
    /*! margin-top: 2.8rem; */
  }

  .about-title {
    text-align: start;
    margin-bottom: 0;
  }

  .about-title h1 {
    width: fit-content;
    font-size: calc(24px + 1vw);
    margin: 0 0 0 0;

  }

  .about-text-container p {
    font-size: 10px;
    line-height: 1.4;
    margin-bottom: 0;
  }

  /* --- NAV PHONE --- */
  #nav {
    width: 100%;
    background-color: hsl(0, 0%, 0%);
    position: sticky;
    margin-top: 0;
    top: 0;
    border-bottom: 1px solid;
    border-bottom-color: rgba(0,0,0,.24);
    padding-top: 12px;
    padding-bottom: 12px;
    z-index: 1000;
  }


  .nav-container {
    display: grid;
    font-family: "clearSans", "Arial", sans-serif;
    font-size: 10px;
    text-align: center;
    justify-content: center;
    grid-template-columns: auto auto;
    align-items: center;
  }

  .nav-portfolio-title-container {
    justify-self: start;
    padding-left: 1rem;

  }

  .nav-portfolio-title{
    font-family: "clearSans", "Arial", sans-serif;
    font-size: 10px;
    font-weight: 200;
    padding: 0;
    color: white;
    margin: 0 20px 0 0;
  }

  .nav-link-container{
    justify-self: end;
    padding-right: 1rem;
  }

  .nav-item {
    padding: 0 0 5px 0;
    color: black;
    margin: 0 0 0 0;
    text-decoration: none;
  }

  .nav-item:hover {
    text-decoration: underline;

  }

  .nav-item.active {
    filter: none;
    border-bottom: 2px solid white;
  }



  /* --- FOOTER PHONE --- */
  #footer {
    background-color: black;
    display: block;
  }

  .footer {
  position: sticky;
  color: black;
  padding: 2em;
  font-size: .5em;
  text-align: center;
}
  }

  .footer-icon{
    padding: 0 .4rem;
  }

  .footer-p{
    font-size: 10px;
  }

}


/* Color Scheme */

/*

#4B627D                         Dessert Tan
#0097F5                         Blueberry Blue
#2c3037                         Icey Grey
#b4becb hsl(213, 18%, 75%)      Cloudy Sky Grey
#F8D6B2                         Chalkboard Black
rgba(0,0,0,.24)                 Very Transparent Black
#00000                          True Black
#FFFFFF                         True White
HEX CODE                        True Blue


*/
