@font-face {
  font-family: 'clearSans';
  src: url("fonts/clearsansscreen-bk.woff2")
}


/* WAMMY */

.wammy-container {

}

.wammy-version-tag {
  background-color: hsl(228 100% 60%); /* Blue */
  display: inline-block;
  font-family: "clearSans", "Arial", sans-serif;
  font-size: .6rem;
  padding: .6rem 1rem .6rem 1rem;
  border-radius: .5rem;
  width: max-content;
  margin: 50px 0 0 100px;
}

.wammy-top {
  display: grid;
  grid-template-columns:1fr;
}

#wammyLogo {
  display: none;
  position: fixed;
  bottom: 24rem;
  opacity: 0;
  width: 100%;
  background-color: hsl(240 13% 6%);
  padding: 1.8rem 8rem;
  margin: 0;
  border-radius: 0;
  text-align: center;
  transition: 500ms cubic-bezier(1,1.65,.95,1.02);
}

.wammy-logoimage{
  width: 18rem;
  margin-bottom: .8rem;
}

.wammy-body{
  display: inline-block;
  font-family: "clearSans", "Arial", sans-serif;
  font-size: .6rem;
  padding: .6rem 1rem .6rem 1rem;
  border-radius: 1rem;
  width: max-content;
  text-align: center;
  margin: 14px 0 0 0;
  background-color: hsl(32 97% 50%);
}

.wammy-topright{
  width: 100%;
  background-color: #000;
  padding: 0 5rem 0 0;
  border-radius: 0 3rem 0 0;
}

.wammy-bottom {
  background-color: inherit;
  width: 100%;
  position: fixed;
  bottom: 20px;
}

.wammy-bottom-center {
  padding: 0;
  margin: 0;
  text-align: center;
}

.bottom-gradient{
  width: 100%;
  display: none;
}

#dia-container {
  display: block;
  width: 100%;
  height: 90vh;
  overflow: auto;
  padding: 6rem 3rem 10rem 3rem;
  margin: 0 0 0 0;
}

ul {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.user-prompt {
  color: hsl(0 0% 98%); /* White */
  font-family: "clearSans", "Arial", sans-serif;
  font-size: .8rem;
  line-height: 1.4;
  padding: 1.5rem 2rem;
  list-style: none;
  border-radius: 1rem;
  width: max-content;
  max-width: 100%;
  align-self: center;
  transition: 300ms cubic-bezier(.42,0,.81,1.01);
}

.user-prompt:hover {
  background-color: hsl(228 100% 60%); /* Blue */
}

.wammy-response {
  color: hsl(0 0% 98%); /* White */
  font-family: "clearSans", "Arial", sans-serif;
  font-size: .8rem;
  line-height: 1.4;
  padding: 1.5rem 2rem;
  list-style: none;
  border-radius: 1rem;
  width: max-content;
  max-width: 100%;
  align-self: center;
  transition: 300ms cubic-bezier(.42,0,.81,1.01);
}

.wammy-response:hover{
  background-color: hsl(32 97% 50%); /* Orange */
  color: black;
}


.prompt-container{
  display: inline-block;
  margin: 0 0 0 0;
  position: fixed;
  bottom: 15vh;
  width: 100%;
  text-align: center;
  padding: 0 8rem;
}

#prompt-library-container{
  display: none;
  width: 100%;
  font-family: "clearSans", "Arial", sans-serif;
}

.prompt-library-top {
  display: block;
  background-color: gray;
  height: 2rem;
  padding-top: 10px;
}

#prompt-library-list {
  display: block;
  background-color: hsl(240 14% 15%);
  height: 100%;
  list-style: disc inside;
  text-align: start;
  padding: 10px 0 10px 20px;
  margin: 0;
}

#prompt-library-list li:focus {
  background-color: red;
}


#prompt-form{
  display: flex;
}


#prompt-input {
  background-color: hsl(240 18% 12%);
  color: hsl(0 0% 58%);

  font-family: "clearSans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.4;

  width: 100%;
  min-width: 100px;
  height: 28px;
  max-height: 30vh;

  margin: 0;
  padding: 4px 4px 4px 16px;

  border-color: hsl(240 18% 15%);
  border-radius: 40px 0 0 40px;
  border-style: outset;

  resize: none;
  overflow: hidden;

  transition: 145ms cubic-bezier(.42,0,.81,1.01);

}

#prompt-input:hover {
  cursor: pointer;
}

#prompt-input:focus {
  transition: 145ms cubic-bezier(.42,0,.81,1.01);
  outline: none;
  background-color: hsl(240 18% 10%);
  border-style: outset;
  cursor: default;
}

#prompt-button {
  background-color: hsl(240 18% 8%);
  color: #000;

  height: 28px;
  max-height: 30vh;
  width: 80px;

  font-family: "clearSans", "Arial", sans-serif;

  border-color: hsl(240 18% 10%);
  border-radius: 0 40px 40px 0;
  padding: .2rem;

  transition: 145ms cubic-bezier(.42,0,.81,1.01);
}

#prompt-button:hover {
  border-color: hsl(31 100% 44%);
  background-image: linear-gradient(
  55deg,
  hsl(30deg 100% 44%) 0%,
  hsl(31deg 99% 45%) 21%,
  hsl(31deg 98% 47%) 30%,
  hsl(31deg 97% 49%) 39%,
  hsl(32deg 97% 50%) 46%,
  hsl(32deg 100% 53%) 54%,
  hsl(32deg 100% 56%) 61%,
  hsl(32deg 100% 58%) 69%,
  hsl(33deg 100% 60%) 79%,
  hsl(34deg 100% 62%) 100%
);
  transition: 145ms cubic-bezier(.42,0,.81,1.01);

  cursor: pointer;
}

#prompt-button:focus {
  background-image: linear-gradient(
    55deg,
    hsl(30deg 100% 44%) 0%,
    hsl(31deg 99% 45%) 21%,
    hsl(31deg 98% 47%) 30%,
    hsl(31deg 97% 49%) 39%,
    hsl(32deg 97% 50%) 46%,
    hsl(32deg 100% 53%) 54%,
    hsl(32deg 100% 56%) 61%,
    hsl(32deg 100% 58%) 69%,
    hsl(33deg 100% 60%) 79%,
    hsl(34deg 100% 62%) 100%
  );
  outline: none;
}

#terms {
  background-color: hsl(240 17% 12%);
  border-color: hsl(240 17% 7%);
  width: 60%;
  padding: 4rem;

}
.terms-container{
  text-align: center;
  width: 100%;
}

.terms-header {
  text-align: left;
}

.terms-body {
  text-align: left;
}

.terms-button-container {

}

.terms-button{
  background-color: hsl(240 13% 6%);
  border: none;
  color: hsl(0 0% 20%);
  font-family: "clearSans", "Arial", sans-serif;
  font-size: .5rem;
}

.terms-button:hover {
  color: hsl(0 0% 54%);
  text-decoration: underline;
  cursor: pointer;
}

/* WAMMY MEDIA QUERIES */

@media screen and (max-width: 768px) and (-webkit-device-pixel-ratio: 2), (max-width: 768px) and (resolution: 3dppx) {

  .wammy-container{
    max-width: 100%;
  }

  .wammy-top{
    position: fixed;
    top: 0;
    display: grid;
    grid-template-columns: 1fr;
    background-color: inherit;
    width: 100%;
    margin: 0;
  }

  .wammy-topleft {
    padding: 0;
    margin: 0;
    text-align: end;
  }

  .wammy-logoimage {
    width: 2rem;
    padding: .6rem .8rem 0 0;
    margin: 0;
    opacity: 50%;
  }

  .wammy-body {
    display: none;
    padding: 0;
    margin: 0;
  }

  .wammy-topright {
    display: none;
    background-color: red;
    padding: 0;
    margin: 0;
  }

  .dialogue-container{
    display: block;
    background-color: inherit;
    width: inherit;
    padding: 0;
    margin: 0;
  }

  .wammy-response{
    background-color: inherit;
    font-size: .8rem;
  }

  .user-prompt{
    background-color: inherit;
    font-size: .8rem;
    margin: 3rem 0 0 0;
  }

  .prompt-container {
    padding: 0 2rem;
  }

  .prompt-section{
    position: absolute;
    bottom: inherit;
    padding: 0;
    margin: 0;
  }

}

/* BODY */

body {
  margin: 0;
  font-size: 16px;
  background-color: hsl(240 14% 6%);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

/* MAIN */

main {
  /* make sure to cover the screen */

  /* put on top of footer*/
  position: relative;
  z-index: 1;
}

/* BOOTSTRAP */
.row{
  /* removes default right margin on rows */
  margin-right: 0;
}


/* ALL PAGES */

#skip {
  display: none;
}

/* ALL Media Queries */
@media screen and (max-width: 768px) and (-webkit-device-pixel-ratio: 2), (max-width: 768px) and (resolution: 3dppx) {
  #skip {
    display: block;
    margin: 10% 0 0 4rem;
  }
  #skip > a {
    color: #fff;
    font-family: clearSans;
    font-weight: 600;
    opacity: 10%;
    font-size: 12px;
  }
}


/* INDEX */

.index-container {
  margin: 7rem 5rem;
}

.index-header {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 5rem;
  color: white;
}

.index-body > p {
  font-size: 1.3rem;
  color: white;
}

.index-link {
  font-size: 2rem;
  color: white;
  font-family: inherit;
}


/* INDEX MEDIA QUERIES */
@media screen and (max-width: 768px) and (-webkit-device-pixel-ratio: 2), (max-width: 768px) and (resolution: 3dppx){

  .index-container {
    margin: 4rem 3rem;
  }

.index-header {
  font-size: 1.5rem;
  margin-bottom: 2.5rem;
}

  .index-body > p {
    font-size: 0.8rem;
    color: white;
  }
}




/* ~~~~~ JAVASCRIPT ELEMENTS ~~~~~ */

/* NAV */

#nav {
  width: 100%;
  margin: 0 5rem;
}

.nav-mobile-wrapper {
  display: none;
}

.nav-link-group {
/* makes nav flex column with even spacing */
  display: flex;
  font-family: "clearSans", "Arial", sans-serif;
  font-size: 1.1rem;
  text-align: center;
  /*margin: 0 0 0 4rem;*/
}

.nav-element {
  padding: 0 0 5px 0;
  color: white;
  margin: 3% 20px 0 0;
}

.nav-element:hover {
  color: white;
  text-decoration: none;
  filter: drop-shadow(0 5px 15px #44280E);
  filter: blur(25px)
}

.nav-element.active {
  filter: none;
  border-bottom: 2px solid white;
}


/* NAV MEDIA QUERIES */

@media screen and (max-width: 768px) and (-webkit-device-pixel-ratio: 2), (max-width: 768px) and (resolution: 3dppx){

  .nav-link-group {
    display: grid;
    justify-content: inherit;
    font-size: .9rem;
    text-align: center;
    border-bottom: none;
  }

  .nav-element {
    padding: 1.5rem;
    margin: 0 0;
    background-color: black;
    opacity: 0%;
    font-weight: 600;
  }

.nav-element:hover {
  color: white;
  text-decoration: none;
  filter: none;
  border-bottom: none;
}
  .nav-element.active {
  filter: none;
  border-bottom: none;
  color: #F8D6B2;
  font-weight: 600;
}

}


/* FOOTER */

.footer {
  position: sticky;
  bottom: 0;
  left: 0;
  color: white;
  padding: 10em;
  font-size: .5em;
  text-align: center;
}

.footer-icon {
  padding: 0 1.3rem;
}


/* selects footer icons */
.fab, .far {
  color: white;
}

/* selects :hover footer icons */
.fab:hover, .far:hover {
  filter: blur(25px);
}

.footer-p {
  cursor: default;
  padding: 0;
  margin: 0;
}


/* TEXT */

* {
  box-sizing: border-box;
}

h1 { font-family: 'Arial', sans-serif;
    /* font-weight:;  */
    font-size: 2.488rem;
    font-weight: 500;
    margin-bottom: 3rem;
    margin-top: 0;
    color: white;
}

h2 { font-family: 'Arial', sans-serif;
    font-weight: 100;
    font-size: 1.44rem;
    margin-bottom: 1.2rem;
    margin-top: 0;
    color: white;
}

h3 {
  font-family: 'Arial', sans-serif;
  font-weight: 100;
  font-size: 0.7rem;
  margin-bottom: 0;
  margin-top: 0;
  color: white;
}


p { font-family: "clearSans", "Arial", sans-serif;
    font-size: 0.7rem;
    margin-bottom: 0;
    margin-top: 0;
    color: white;
  }

.section-link {
  font-family: "clearSans", "Arial", sans-serif;
  font-size: 2rem;
  color: #0B0D3D
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

.hide {
  display: none;
}


.mono-h1 {
  font-size: calc(16px + 7vw)
}

.script-pdf{
  width: 100%;
  height: 100vh;
}

.expelled-container{
  margin: 8rem 0 0 1rem;
}
.expelled-link{
  font-family: "clearSans", "Arial", sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: white
}


/* Color palette

  Black, #0d0d11 hsl(240 13% 6%)
  Med Black hsl(240 18% 8%)
  Light Black, #111118 hsl(240 17% 8%)
  Grey, hsl(240 18% 15%)
  White, #FAFAFA hsl(0 0% 98%)
  Blue, #2E58FF, hsl(228 100% 60%)
  Orange, #FB8804, hsl(32 97% 50%)

*/
