@font-face {
  font-family: 'clearSans';
  src: url("fonts/clearsansscreen-bk.woff2")
}

/* BODY */

body {
  margin: 0;
  font-size: 16px;
  background-color: hsl(240 14% 6%);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

/* MAIN */

main {
  /* make sure to cover the screen */

  /* put on top of footer*/
  position: relative;
  z-index: 1;
}

/* BOOTSTRAP */
.row{
  /* removes default right margin on rows */
  margin-right: 0;
}


/* ~~~~~ PAGES ~~~~~ */

/* ALL */

#skip {
  display: none;
}

/* ALL Media Queries */
@media screen and (max-width: 768px) and (-webkit-device-pixel-ratio: 2), (max-width: 768px) and (resolution: 3dppx) {
  #skip {
    display: block;
    margin: 10% 0 0 4rem;
  }
  #skip > a {
    color: #fff;
    font-family: clearSans;
    font-weight: 600;
    opacity: 10%;
    font-size: 12px;
  }
}


/* INDEX */

.index-container {
  margin: 7rem 5rem;
}

.index-header {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 5rem;
  color: white;
}

.index-body > p {
  font-size: 1.3rem;
  color: white;
}

.index-link {
  font-size: 2rem;
  color: white;
  font-family: inherit;
}


/* INDEX MEDIA QUERIES */
@media screen and (max-width: 768px) and (-webkit-device-pixel-ratio: 2), (max-width: 768px) and (resolution: 3dppx){

  .index-container {
    margin: 4rem 3rem;
  }

.index-header {
  font-size: 1.5rem;
  margin-bottom: 2.5rem;
}

  .index-body > p {
    font-size: 0.8rem;
    color: white;
  }
}

/* RESOURCES */
.resource-container{
  margin: 7rem 4rem 0 4rem;

}

.resource-header {
  color: black;
  font-size: .7rem;
  font-weight: 600;
}

.resource-item {
  border-radius: .25rem;
  /*display: block;*/
  padding: 2rem;
  background-color: #FCFCFC;
  color: black;
}

.category-header {
  color: white;
}

#az-resources {
  display: grid;
  /*grid-template-columns: repeat(3, 1fr); /* Set 3 columns with equal width */
  /*grid-template-rows: repeat(2, 1fr); /* Set 2 rows with equal height */
  /*grid-gap: 20px; /* Add gap between grid items */
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  /* This is better for small screens, once min() is better supported */
  /* grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 1fr)); */
  gap: 1rem;
}

.resource-name {
  font-size: 20px;
  font-weight: 600;
}

.resource-body {
  font-size: 12px;
  color: black;
}

.resource-text-muted {
  display: none;
}

.resource-link:hover {
  text-decoration: none;
}

.resource-most-frequent {
  margin-bottom: 1rem;
}

/* RESOURCE MEDIA QUERIES */

@media screen and (max-width: 768px) and (-webkit-device-pixel-ratio: 2), (max-width: 768px) and (resolution: 3dppx){

  .resource-container {
    margin: 1rem 4rem 0 4rem;
  }

  .resource-item {
    margin-bottom: 2%;
    text-align: center;
    padding: 5%;
  }

  .resource-body{
    display: none;
  }

}


/* RESUME and ABOUT */

.about-resume-container {
  margin: 7rem 5rem;
}

.about-body {
  font-size: 16px;
  color: white;
  margin: 0 50% 5rem 0;
}

.resume-header {
  font-family: "clearSans", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 900;
  margin: 2rem 0 .5rem 0;
  color: white;
}

.resume-body {
  font-size: 16px;
  color: white;
}

.resume-link-container {
  margin: 3rem 0 0 0;
}

.resume-link {
  font-family: "clearSans", "Arial", sans-serif;
  color: white;
  padding: 0 3rem 0 0;
}

.resume-link:hover {
  color: white;
  filter: blur(25px);
  text-decoration: none;
}

.about-body {
  font-size: 16px;
  color: white;
  margin: 0 25rem 10rem 0;
}


/* RESUME MEDIA QUERIES */

@media screen and (max-width: 768px) and (-webkit-device-pixel-ratio: 2), (max-width: 768px) and (resolution: 3dppx){
.about-resume-container {
  margin: 10% 10%;
}

  .about-body {
  font-size: 12px;
  color: white;
  margin: 0 0 0 0;
  }

  .resume-header {
  font-size: 12px;

}

  .resume-body {
    font-size: 12px;
    color: white;
  }



}

/* WAMMY */

.wammy-container {

}

.wammy-top {
  display: grid;
  grid-template-columns:1fr;
}

#wammyLogo {
  display: none;
  position: fixed;
  bottom: 24rem;
  opacity: 0;
  width: 100%;
  /*background-color: #202121;*/
  background-color: black;
  padding: 1.8rem 5rem;
  border-radius: 0;
  text-align: center;
  transition: 500ms cubic-bezier(1,1.65,.95,1.02);
}

.wammy-logoimage{
  width: 18rem;
  margin-bottom: .8rem;
}

.wammy-body{
  display: inline-block;
  font-family: "clearSans", "Arial", sans-serif;
  font-size: .6rem;
  padding: .6rem 1rem .6rem 1rem;
  border-radius: .5rem;
  width: max-content;
  text-align: center;
  margin: 50px 0 0 100px;
  background-color: hsl(228 100% 60%);
}

.wammy-topright{
  width: 100%;
  /*background-color: #FB8804;*/
  background-color: #000;
  padding: 0 5rem 0 0;
  border-radius: 0 3rem 0 0;
}


.bottom-gradient{
  width: 100%;
  display: none;
}

#dia-container {
  display: block;
  width: 100%;
  height: 90vh;
  overflow: auto;
  padding: 6rem 3rem 10rem 3rem;
  margin: 0 0 0 0;
}

ul {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.user-prompt {
  font-family: "clearSans", "Arial", sans-serif;
  font-size: .8rem;
  line-height: 1.4;
  color: hsl(0 0% 98%);
  padding: 1.5rem 2rem;
  list-style: none;
  /*background-color: #E9E9ED;*/
  border-radius: 1rem;
  width: max-content;
  max-width: 100%;
  align-self: center;
}

.wammy-response {
  color: hsl(0 0% 98%);
  font-family: "clearSans", "Arial", sans-serif;
  font-size: .8rem;
  line-height: 1.4;
  padding: 1.5rem 2rem;
  list-style: none;
  border-radius: 1rem;
  width: max-content;
  max-width: 100%;
  align-self: center;
  transition: 300ms cubic-bezier(.42,0,.81,1.01);
}

.wammy-response:hover{
  background-color: #FB8804;
  color: black;
}


.prompt-container{
  display: inline-block;
  margin: 0 0 0 0;
  position: fixed;
  bottom: 15vh;
  width: 100%;
  text-align: center;
  padding: 0 8rem;
}

#prompt-library-container{
  display: none;
  width: 100%;
  font-family: "clearSans", "Arial", sans-serif;
}

.prompt-library-top {
  display: block;
  background-color: gray;
  height: 2rem;
  padding-top: 10px;
}

.prompt-library-list {
  display: block;
  background-color: hsl(240 14% 15%);
  height: 100%;
  list-style: disc inside;
  text-align: start;
  padding: 10px 0 10px 20px;
  margin: 0;
}


#prompt-form{
  display: flex;
}


#prompt-input {
  background-color: hsl(240 18% 15%);
  font-family: "clearSans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.4;
  width: 100%;
  height: 28px;
  max-height: 30vh;
  border-radius: 40px 0 0 40px;
  border: 1px solid hsl(240 18% 18%);
  margin: 0;
  /* padding: calc(1vw + 1vh) calc(2.5vw + 2.5vh); */
  padding: 4px 4px 4px 16px;
  resize: none;
  overflow: hidden;

}

#prompt-input:focus {
  outline: none;
}

#prompt-button {
  /* transition: 5000ms cubic-bezier(.42,0,.81,1.01); */
  background-color: hsl(240 18% 8%);
  height: 28px;
  max-height: 30vh;
  width: 80px;
  font-family: "clearSans", "Arial", sans-serif;
  color: #000;
  border: 1px solid hsl(240 18% 10%);
  border-radius: 0 40px 40px 0;
  padding: .2rem;
}

#prompt-button:hover {
  background-image: linear-gradient(
  55deg,
  hsl(30deg 100% 44%) 0%,
  hsl(31deg 99% 45%) 21%,
  hsl(31deg 98% 47%) 30%,
  hsl(31deg 97% 49%) 39%,
  hsl(32deg 97% 50%) 46%,
  hsl(32deg 100% 53%) 54%,
  hsl(32deg 100% 56%) 61%,
  hsl(32deg 100% 58%) 69%,
  hsl(33deg 100% 60%) 79%,
  hsl(34deg 100% 62%) 100%
);

}

#prompt-button:focus {
  background-image: linear-gradient(
    55deg,
    hsl(30deg 100% 44%) 0%,
    hsl(31deg 99% 45%) 21%,
    hsl(31deg 98% 47%) 30%,
    hsl(31deg 97% 49%) 39%,
    hsl(32deg 97% 50%) 46%,
    hsl(32deg 100% 53%) 54%,
    hsl(32deg 100% 56%) 61%,
    hsl(32deg 100% 58%) 69%,
    hsl(33deg 100% 60%) 79%,
    hsl(34deg 100% 62%) 100%
  );
  outline: none;
}

/* WAMMY MEDIA QUERIES */

@media screen and (max-width: 768px) and (-webkit-device-pixel-ratio: 2), (max-width: 768px) and (resolution: 3dppx) {

  .wammy-container{
    max-width: 100%;
  }

  .wammy-top{
    position: fixed;
    top: 0;
    display: grid;
    grid-template-columns: 1fr;
    background-color: inherit;
    width: 100%;
    margin: 0;
  }

  .wammy-topleft{
    padding: 0;
    margin: 0;
    text-align: end;
  }

  .wammy-logoimage{
    width: 2rem;
    padding: .6rem .8rem 0 0;
    margin: 0;
    opacity: 50%;
  }

  .wammy-body{
    display: none;
    padding: 0;
    margin: 0;
  }

  .wammy-topright{
    display: none;
    background-color: red;
    padding: 0;
    margin: 0;
  }

  .dialogue-container{
    display: block;
    background-color: inherit;
    width: inherit;
    padding: 0;
    margin: 0;
  }

  .wammy-response{
    background-color: inherit;
    font-size: .8rem;
  }

  .user-prompt{
    background-color: inherit;
    font-size: .8rem;
    margin: 3rem 0 0 0;
  }

  .prompt-section{
    position: absolute;
    bottom: inherit;
    padding: 0;
    margin: 0;
  }

  #prompt-form{
    display: block;
  }

}

/* CLIENTS */

.clients {
  margin: 10rem 4rem 0 4rem;
}


/* TOP */

.top-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  margin: 7rem 4rem 0 4rem;
}

.top-item {
  border: none;
  display: block;
  background-color: #FCFCFC;
  color: black;
  width: 100%;
}

.top-img-wrapper {

}

.top-img{
  width: 100%;
  border-radius: .25rem;
  opacity: 2.5%;
  transition: .8s ease-in-out;
}

.top-img:hover{
  opacity: 100%;
}

.top-watching-img{
  width: 100%;
  border-radius: .25rem;
  opacity: 85%;
  transition: 350ms cubic-bezier(.55,.09,.68,.53);
}

.top-watching-img:hover{
  opacity: 100%;
}

.top-header-wrapper {

}

.top-header{
  color: black;
  font-size: .7rem;
  font-weight: 600;
}

/* TOP MEDIA QUERIES */

@media screen and (max-width: 768px) and (-webkit-device-pixel-ratio: 2), (max-width: 768px) and (resolution: 3dppx) {
  .top-img{
    opacity: 90%;
  }

}


/* ~~~~~ JAVASCRIPT ELEMENTS ~~~~~ */

/* NAV */

#nav {
  width: 100%;
  margin: 0 5rem;
}

.nav-mobile-wrapper {
  display: none;
}

.nav-link-group {
/* makes nav flex column with even spacing */
  display: flex;
  font-family: "clearSans", "Arial", sans-serif;
  font-size: 1.1rem;
  text-align: center;
  /*margin: 0 0 0 4rem;*/
}

.nav-element {
  padding: 0 0 5px 0;
  color: white;
  margin: 3% 20px 0 0;
}

.nav-element:hover {
  color: white;
  text-decoration: none;
  filter: drop-shadow(0 5px 15px #44280E);
  filter: blur(25px)
}

.nav-element.active {
  filter: none;
  border-bottom: 2px solid white;
}


/* NAV MEDIA QUERIES */

@media screen and (max-width: 768px) and (-webkit-device-pixel-ratio: 2), (max-width: 768px) and (resolution: 3dppx){

  .nav-link-group {
    display: grid;
    justify-content: inherit;
    font-size: .9rem;
    text-align: center;
    border-bottom: none;
  }

  .nav-element {
    padding: 1.5rem;
    margin: 0 0;
    background-color: black;
    opacity: 0%;
    font-weight: 600;
  }

.nav-element:hover {
  color: white;
  text-decoration: none;
  filter: none;
  border-bottom: none;
}
  .nav-element.active {
  filter: none;
  border-bottom: none;
  color: #F8D6B2;
  font-weight: 600;
}

}


/* FOOTER */

.footer {
  position: sticky;
  bottom: 0;
  left: 0;
  color: white;
  padding: 10em;
  font-size: .5em;
  text-align: center;
}

.footer-icon {
  padding: 0 1.3rem;
}


/* selects footer icons */
.fab, .far {
  color: white;
}

/* selects :hover footer icons */
.fab:hover, .far:hover {
  filter: blur(25px);
}

.footer-p {
  cursor: default;
  padding: 0;
  margin: 0;
}


/* TEXT */

* {
  box-sizing: border-box;
}

h1 { font-family: 'Arial', sans-serif;
    /* font-weight:;  */
    font-size: 2.488rem;
    font-weight: 500;
    margin-bottom: 3rem;
    margin-top: 0;
    color: white;
}

h2 { font-family: 'Arial', sans-serif;
    font-weight: 100;
    font-size: 1.44rem;
    margin-bottom: 1.2rem;
    margin-top: 0;
    color: white;
}

h3 {
  font-family: 'Arial', sans-serif;
  font-weight: 100;
  font-size: 0.7rem;
  margin-bottom: 0;
  margin-top: 0;
  color: white;
}


p { font-family: "clearSans", "Arial", sans-serif;
    font-size: 0.7rem;
    margin-bottom: 0;
    margin-top: 0;
    color: white;
  }

.section-link {
  font-family: "clearSans", "Arial", sans-serif;
  font-size: 2rem;
  color: #0B0D3D
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

.hide {
  display: none;
}


.mono-h1 {
  font-size: calc(16px + 7vw)
}

.script-pdf{
  width: 100%;
  height: 100vh;
}

.expelled-container{
  margin: 8rem 0 0 1rem
}
.expelled-link{
  font-family: "clearSans", "Arial", sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: white
}
