@font-face {
  font-family: 'clearSans';
  src: url("fonts/clearsansscreen-bk.woff2")
}



/* BODY */

body {
  margin: 0;
  font-size: 16px;
  background-color: black;
  background-image: url('css-images/test.png');
  background-size: cover;
  background-repeat: no-repeat;
}

/* MAIN */

main {
  /* make sure to cover the screen */
  min-height: 100vh;
  /* put on top of footer*/
  position: relative;
  z-index: 1;
}

/* BOOTSTRAP */
.row{
  /* removes default right margin on rows */
  margin-right: 0;
}


/* ~~~~~ PAGES ~~~~~ */

/* ALL */

#skip {
  display: none;
}

/* ALL Media Queries */
@media screen and (max-width: 768px) and (-webkit-device-pixel-ratio: 2), (max-width: 768px) and (resolution: 3dppx) {
  #skip {
    display: block;
    margin: 10% 0 0 4rem;
  }
  #skip > a {
    color: #fff;
    font-family: clearSans;
    font-weight: 600;
    opacity: 10%;
    font-size: 12px;
  }
}


/* INDEX */

.index-container {
  margin: 7rem 5rem;
}

.index-header {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 5rem;
  color: white;
}

.index-body > p {
  font-size: 1.3rem;
  color: white;
}

.index-link {
  font-size: 2rem;
  color: white;
  font-family: inherit;
}


/* INDEX MEDIA QUERIES */
@media screen and (max-width: 768px) and (-webkit-device-pixel-ratio: 2), (max-width: 768px) and (resolution: 3dppx){

  .index-container {
    margin: 4rem 3rem;
  }

.index-header {
  font-size: 1.5rem;
  margin-bottom: 2.5rem;
}

  .index-body > p {
    font-size: 0.8rem;
    color: white;
  }
}

/* RESOURCES */
.resource-container{
  margin: 7rem 4rem 0 4rem;

}

.resource-header {
  color: black;
  font-size: .7rem;
  font-weight: 600;
}

.resource-item {
  border-radius: .25rem;
  /*display: block;*/
  padding: 2rem;
  background-color: #FCFCFC;
  color: black;
}

.category-header {
  color: white;
}

#az-resources {
  display: grid;
  /*grid-template-columns: repeat(3, 1fr); /* Set 3 columns with equal width */
  /*grid-template-rows: repeat(2, 1fr); /* Set 2 rows with equal height */
  /*grid-gap: 20px; /* Add gap between grid items */
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  /* This is better for small screens, once min() is better supported */
  /* grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 1fr)); */
  gap: 1rem;
}

.resource-name {
  font-size: 20px;
  font-weight: 600;
}

.resource-body {
  font-size: 12px;
  color: black;
}

.resource-text-muted {
  display: none;
}

.resource-link:hover {
  text-decoration: none;
}

.resource-most-frequent {
  margin-bottom: 1rem;
}

/* RESOURCE MEDIA QUERIES */

@media screen and (max-width: 768px) and (-webkit-device-pixel-ratio: 2), (max-width: 768px) and (resolution: 3dppx){

  .resource-container {
    margin: 1rem 4rem 0 4rem;
  }

  .resource-item {
    margin-bottom: 2%;
    text-align: center;
    padding: 5%;
  }

  .resource-body{
    display: none;
  }

}


/* RESUME and ABOUT */

.about-resume-container {
  margin: 7rem 5rem;
}

.about-body {
  font-size: 16px;
  color: white;
  margin: 0 50% 5rem 0;
}

.resume-header {
  font-family: "clearSans", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 900;
  margin: 2rem 0 .5rem 0;
  color: white;
}

.resume-body {
  font-size: 16px;
  color: white;
}

.resume-link-container {
  margin: 3rem 0 0 0;
}

.resume-link {
  font-family: "clearSans", "Arial", sans-serif;
  color: white;
  padding: 0 3rem 0 0;
}

.resume-link:hover {
  color: white;
  filter: blur(25px);
  text-decoration: none;
}

.about-body {
  font-size: 16px;
  color: white;
  margin: 0 25rem 10rem 0;
}


/* RESUME MEDIA QUERIES */

@media screen and (max-width: 768px) and (-webkit-device-pixel-ratio: 2), (max-width: 768px) and (resolution: 3dppx){
.about-resume-container {
  margin: 10% 10%;
}

  .about-body {
  font-size: 12px;
  color: white;
  margin: 0 0 0 0;
  }

  .resume-header {
  font-size: 12px;

}

  .resume-body {
    font-size: 12px;
    color: white;
  }



}

/* WAMMY */

.wammy-container {
  margin: 7rem 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fill);
  gap: 1rem;

}

.wammy-header {
  font-family: "clearSans", "Arial", sans-serif;
  font-size: 64px;
  font-weight: 900;
  margin: 2rem 0 .15rem 0;
  color: white;
}

.wammy-body {
  font-size: 16px;
  color: white;
  margin: 0 0 0 0;
  opacity: 0%;
  transition: 300ms cubic-bezier(.42,0,.81,1.01);
}

.wammy-body:hover {
  display: block;
  opacity: 100%;
  margin: 0 0 2rem 0;
  transition: 300ms cubic-bezier(.42,0,.81,1.01);
}


.wammy-response {
  font-family: "clearSans", "Arial", sans-serif;
  font-size: 20px;
  list-style: none;
  margin: 1.2rem 0 0 0;
}

.user-prompt {
  font-family: "clearSans", "Arial", sans-serif;
  font-size: 20px;
  text-align: right;
  padding: 1.2rem 2rem 0 0;
  list-style: none;
}

.dialogue-container {
  background-color: white;
  width: 100%;
  height: 35vh;
  border-radius: .25rem;
  overflow: auto;
  filter: drop-shadow(0 0 0.075rem #e5e8ed);
  box-shadow: 0 0 0 2px #e5e8ed;
}

#prompt-input {
  background-color: #FFF;
  width: 100%;
  border-radius: .25rem;
  font-family: "clearSans", "Arial", sans-serif;
  font-size: 20px;
  min-height: 10rem;
  padding: 1.2rem;
  border: none;
  filter: drop-shadow(0 0 0.075rem #e5e8ed);
  box-shadow: 0 0 0 2px #e5e8ed;
}

.prompt-input-button {
  display: block;
  margin: 0 0 0 0;
  width: 100%;
  height: 5rem;
  font-family: "clearSans", "Arial", sans-serif;
  background-color: #ff8c44;
  color: #fff;
  border: none;
  filter: drop-shadow(0 0 0.075rem #f98741);
  box-shadow: 0 0 0 2px #f98741;
  border-radius: .25rem;
  transition: 200ms cubic-bezier(.42,0,.81,1.01);
}

.prompt-input-button:hover {
  background-color: #f99456;
  transition: 200ms cubic-bezier(.42,0,.81,1.01);
  filter: drop-shadow(0 0 0.075rem #f99456);
  color: white;
  border-color: #f99456;
  box-shadow: 0 0 0 2px #f99456;
}

.skate-rail {
  width: 100%;
  margin: 2rem 0 -3px 0;
}

.skate-button {

}



/* CLIENTS */

.clients {
  margin: 10rem 4rem 0 4rem;
}


/* TOP */

.top-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  margin: 7rem 4rem 0 4rem;
}

.top-item {
  border: none;
  display: block;
  background-color: #FCFCFC;
  color: black;
  width: 100%;
}

.top-img-wrapper {

}

.top-img{
  width: 100%;
  border-radius: .25rem;
  opacity: 2.5%;
  transition: .8s ease-in-out;
}

.top-img:hover{
  opacity: 100%;
}

.top-watching-img{
  width: 100%;
  border-radius: .25rem;
  opacity: 85%;
  transition: 350ms cubic-bezier(.55,.09,.68,.53);
}

.top-watching-img:hover{
  opacity: 100%;
}

.top-header-wrapper {

}

.top-header{
  color: black;
  font-size: .7rem;
  font-weight: 600;
}

/* TOP MEDIA QUERIES */

@media screen and (max-width: 768px) and (-webkit-device-pixel-ratio: 2), (max-width: 768px) and (resolution: 3dppx) {
  .top-img{
    opacity: 90%;
  }

}


/* ~~~~~ JAVASCRIPT ELEMENTS ~~~~~ */

/* NAV */

#nav {
  width: 100%;
  margin: 0 5rem;
}

.nav-mobile-wrapper {
  display: none;
}

.nav-link-group {
/* makes nav flex column with even spacing */
  display: flex;
  font-family: "clearSans", "Arial", sans-serif;
  font-size: 1.1rem;
  text-align: center;
  /*margin: 0 0 0 4rem;*/
}

.nav-element {
  padding: 0 0 5px 0;
  color: white;
  margin: 3% 20px 0 0;
}

.nav-element:hover {
  color: white;
  text-decoration: none;
  filter: drop-shadow(0 5px 15px #44280E);
  filter: blur(25px)
}

.nav-element.active {
  filter: none;
  border-bottom: 2px solid white;
}


/* NAV MEDIA QUERIES */

@media screen and (max-width: 768px) and (-webkit-device-pixel-ratio: 2), (max-width: 768px) and (resolution: 3dppx){

  .nav-link-group {
    display: grid;
    justify-content: inherit;
    font-size: .9rem;
    text-align: center;
    border-bottom: none;
  }

  .nav-element {
    padding: 1.5rem;
    margin: 0 0;
    background-color: none;
    font-weight: 600;
  }

.nav-element:hover {
  color: white;
  text-decoration: none;
  filter: none;
  border-bottom: none;
}
  .nav-element.active {
  filter: none;
  border-bottom: none;
  color: #F8D6B2;
  font-weight: 600;
}

}


/* FOOTER */

.footer {
  position: sticky;
  bottom: 0;
  left: 0;
  color: white;
  padding: 10em;
  font-size: .5em;
  text-align: center;
}

.footer-icon {
  padding: 0 1.3rem;
}


/* selects footer icons */
.fab, .far {
  color: white;
}

/* selects :hover footer icons */
.fab:hover, .far:hover {
  filter: blur(25px);
}

.footer-p {
  cursor: default;
  padding: 0;
  margin: 0;
}


/* TEXT */

* {
  box-sizing: border-box;
}

h1 { font-family: 'Arial', sans-serif;
    /* font-weight:;  */
    font-size: 2.488rem;
    font-weight: 500;
    margin-bottom: 3rem;
    line-height: none;
    margin-top: none;
    color: white;
}

h2 { font-family: 'Arial', sans-serif;
    font-weight: 100;
    font-size: 1.44rem;
    margin-bottom: 1.2rem;
    line-height: none;
    margin-top: none;
    color: white;
}

h3 {
  font-family: 'Arial', sans-serif;
  font-weight: 100;
  font-size: 0.7rem;
  margin-bottom: 0;
  line-height: none;
  margin-top: none;
  color: white;
}


p { font-family: "clearSans", "Arial", sans-serif;
    font-size: 0.7rem;
    margin-bottom: 0;
    line-height: none;
    margin-top: none;
    color: white;
  }

.section-link {
  font-family: "clearSans", "Arial", sans-serif;
  font-weight: ;
  font-size: 2rem;
  color: #0B0D3D
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

.hide {
  display: none;
}


.mono-h1 {
  font-size: calc(16px + 7vw)
}

.script-pdf{
  width: 100%;
  height: 100vh;
}

.expelled-container{
  margin: 8rem 0 0 1rem
}
.expelled-link{
  font-family: "clearSans", "Arial", sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: white
}
