@font-face {
  font-family: 'clearSans';
  src: url("fonts/clearsansscreen-bk.woff2")
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 100%;
}

main {


}


/* GRID */

.grid-title{
  text-align: center;
  font-size: 2rem;
}
#grid{
  height: auto;
}

.grid-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-container{
  display: grid;
  grid-template-columns: 540px 540px 540px;
  grid-template-rows: 360px 360px 360px;
  grid-gap: 4px;
  min-height: 50vh;


}

.grid-item{
  width: 540px;
  height: 360px;
  /* background-color: rgb(5, 5, 5); */
  border-style: solid;
  border-width: 1px;
}

.grid-image-container{
  opacity: 0%;
}

.grid-image-container:hover{
  opacity: 100%;
}



/* NAV */

#nav {
  width: 100%;
  background-color: hsl(141, 100%, 87%);
  position: sticky;
  margin-top: 0vw;
  backdrop-filter: blur(5px);
  top: 0;
  border-bottom: 1px solid;
  border-bottom-color: rgba(0,0,0,.24);
  padding-bottom: 2vw;
  z-index: 1000;
}


.nav-container {
  display: flex;
  font-family: "clearSans", "Arial", sans-serif;
  font-size: 1.1rem;
  text-align: center;
  justify-content: flex-end;
}

.nav-item {
  padding: 0 0 5px 0;
  color: black;
  margin: 3% 20px 0 0;
  text-decoration: none;
}

.nav-item:hover {
  text-decoration: underline;

}

.nav-item.active {
  filter: none;
  border-bottom: 2px solid white;
}


/* NAV MEDIA QUERIES */

@media screen and (max-width: 768px) and (-webkit-device-pixel-ratio: 2), (max-width: 768px) and (resolution: 3dppx){

  .nav-container {
    display: grid;
    justify-content: inherit;
    font-size: .9rem;
    text-align: center;
    border-bottom: none;
  }

  .nav-element {
    padding: 1.5rem;
    margin: 0 0;
    background-color: none;
    font-weight: 600;
  }

.nav-item:hover {
    color: white;
    text-decoration: none;
    filter: none;
    border-bottom: none;
  }
  .nav-item.active {
    filter: none;
    border-bottom: none;
    color: #F8D6B2;
    font-weight: 600;
  }

}

/* FOOTER */

.footer {
  position: sticky;
  bottom: 0;
  left: 0;
  color: black;
  padding: 10em;
  font-size: .5em;
  text-align: center;
}

.footer-icon {
  padding: 0 1.3rem;
}


/* selects footer icons */
.fab, .far {
  color: black;
}

/* selects :hover footer icons */
.fab:hover, .far:hover {

}

.footer-p {
  cursor: default;
  padding: 0;
  margin: 10px 0;
}


/* TEXT */

h2 {
  font-family: 'Arial', sans-serif;
  font-weight: 600;
  font-size: 2.44rem;
  margin-bottom: 3rem;
  line-height: none;
  margin-top: none;
  color: Black;
}

p { font-family: "clearSans", "Arial", sans-serif;
    font-size: 0.7rem;
    margin-bottom: 0;
    line-height: none;
    margin-top: none;
    color: black;
  }

a:link {
  text-decoration: none;
}
